{% load tags %}

{% jstmp "get_invite_complete" %}
<div id="complete">
	<div id="arigoto">Спасибо за ваше участие!</div>
	<div id="info">
		 Мы обязательно дадим вам знать, о дате открытия.
	</div>
	<div id="subject">
		Уже сейчас вы можете присоедениться к нашим группам в вконтакте и facebook<br>
		задать вопросы, принять участие в обсуждениях.
	</div>
	{# {% include "widgets_panel.html" %} #}
</div>
{% endjstmp %}