{% load tags %}

{% jstmp "invite" %}

<div id="invite-page">
	<div id="title">Всероссийский благотворительный аукцион свиданий.</div>
	<div id="header">
		<img align="lom-title" src="{{ STATIC_URL }}img/invite.jpg" alt="Love or money" width="500px"/>
		<div id="header-title">
			Ходите на свидания, помогая детям!
		</div>
	</div>
	<div id="content">
		Свидания скоро...<br>
		<button id="login">
			<div>
				<label>Я пойду на свидание!</label>
				<div id="top-blind"></div>
				<div id="bottom-blind"></div>
			</div>
		</button>
		<div id="subject">
			Участниками проекта могут быть лица достигшие 18 лет.<br>
			Каждый может принять участие в аукционе: выставить свое свидание<br>
			в качестве Лота или быть Покупателем свидания с понравившимся<br>
			человеком.<br>
			Помните, Лотами являются свидания, вы покупаете не человека, а<br>
			возможность свидания с ним, возможность нового и интересного знакомства<br>
			Аукцион же преследует единственную цель - БЛАГОТВОРИТЕЛЬНОСТЬ.
		</div>
		<!--<label>
			Уже сейчас вы можете присоедениться к нашим группам в вконтакте и facebook<br>
			задать вопросы, принять участие в обсуждениях.
		</label>-->
		{% include "widgets_panel.html" %}
		<!--<div id="raise-info">
			Позови друзей принять участие
			<блок постинга>
		</div>-->
		<div id="helper">
			По всем вопросам обращайтесь<br>
			curator@loveormoney.me<br>
			+7 926 8975106
		</div>
		<< obj.login.render() >>
	</div>
</div>

{% endjstmp %}