{% load tags %}

{% jstmp "get_invite" %}
	 <div id="profile">
		  <div id="profile_main_note" class="user-note-photo-block">
				<input type="file" id="UserPhotoToUpload" name="file" value="Редактировать фото" >
				<button class="profile_note_edit default-photo" id="update_photo">
					 <span>Загрузить фотографию</span>
				</button>

				<img id="user_photo" src="<< app.user.photo >>" alt="Фотография пользователя"/>
		  </div>
		  <div id="profile_data">
				<hr />
				<div id="profile_form">
					 <div class="profile_note" id="username-note">
						  <label class="profile_note_title">Ваше имя:</label>
						  <input class='editor' type="text" value="<< app.user.first_name >>" id="first_name" maxlength="32" />
						  <span class="info">Укажите ваше имя или псевдоним.</span>
					 </div>
					 <hr/>

					 <div class="profile_note" id="gender-note">
						  <label class="profile_note_title">Ваш пол:</label>
						  <span class="info">Укажите ваш пол.</span>
					 </div>
					 <hr/>
					 <div class="profile_note" id="mobile-note">
						  <label class="profile_note_title">Ваш мобильный номер:</label><br>
						  <span id="plus_seven"> +7</span><input class='editor' style="display: inline-block;" type="text" value="<< app.user.telephone_number >>" id="telephone_number" maxlength="10" <% if(app.user.telephone_number.length != 0) { %><< "readonly" >>  <% } %> />
						  <div class="info">
								Мобильный номер не отображается публично, а служит для определения
								id вашего <a class='interactive' href="https://w.qiwi.ru/">QIWI</a> кошелька. Внимательно проверяйте правильность написания вашего номера! На данный номер будут выставляться счета для
								пополнения баланса  и переводиться денежные средства.
						  </div>
					 </div>
					 <hr/>
					 <div class="profile_note" id="city-note">
						  <label class="profile_note_title">Город встречи:</label>
					 </div>
					 <hr/>

					 <div id="button_panel">
						  <button id="save_profile" class="btn btn-green disabled">
								<div class='background'><label>Сохранить</label></div>
						  </button>
					 </div>
				</div>
		  </div>
	 </div>
	 << obj.login.render() >>
{% endjstmp %}