{% load tags %}

{% jstmp "put_lot_form" %}

{% endjstmp %}

{% jstmp "confirm-select" %}
<div id="confirm-select-content">
	<div id="title"></div>
	<div id="buttons"><div style='display: inline-block; width: 6%;'></div>
		<button id="confirm" class="btn-green">
			<div class="background">
			<label>Да</label>
			</div>
		</button><div style='display: inline-block; width: 2%;'></div>
		<button  id="unconfirm" class="btn-blue">
			<div class="background">
			<label>Нет</label>
			</div>
		</button>
	</div>
</div>
{% endjstmp %}