{% load tags %}

{% jstmp "lot_page" %}
<div class="lot-view">
	<div class="content">
		<div class="user-info">
			<div id="user-about">
				<div id="prev_page">
					<table>
						<tr><td>◄</td></tr>
					</table>
				</div>
				<div id="next_page">
					<table>
						<tr><td>►</td></tr>
					</table>
				</div>
				<label id="username">
					<span>
						<< obj.lot.user.first_name >>
					</span>
				</label>
				<img id="user_photo" src="<< obj.lot.user.photo >>" alt="Фотография пользователя" />
				<div id="description">
					<div class='editor' id="about_me-duplicate" >
						<< obj.lot.user.about_me >>
					</div>
				</div>
			</div>
			<div id="rate-select">
				<div>
					<div id="love"></div>
					<div id="vs">
						<label>VS</label>
					</div>
					<div id="money"></div>
				</div>
			</div>
		</div>
		<div id="lot-state">
			<button id="back">< Назад в галерею</button>
			<label id="time-left">Окончание ставок через: <span></span></label>
		</div>
		<div id="separator" class="body_background"></div>
		<div class="rates">
			<div id="title">
				<div>Аукцион</div>
			</div>
			
		</div>
	</div>
</div>
{% endjstmp %}

{% jstmp "rate" %}
<div class="rate_note" id="<< obj.data.id >>">
	<img onclick="App.router.redirect('/user/<<obj.data.user.id >>/')" class="user_photo" src="<< obj.data.user.photo_mini >>" alt="" />
	<label class="author_name" onclick="App.router.redirect('/user/<<obj.data.user.id >>/')"><< obj.data.user.first_name >></label>
	<div class="comment"><< obj.data.value >><% if (obj.data.type == "money") { %> chr<% } %></div>
	<label class="time_less"><span></span></label>
	<img class="rate_type" src="/static/img/<< obj.data.type >>.png" alt="" />
</div>
{% endjstmp %}

{% jstmp "love_rate_add_form" %}
<div class="rate-add-form love-form">
	<input type="button" id="close" value="x" />
	<img src="<< app.user.photo_mini >>" width="50" height="50">
	<label><< app.user.first_name >></label>
	<div id="content">
		<textarea rows="4" cols="50" maxlength="149" id="val"></textarea>
		<input type="button" id="post" value="Отправить признание" />
	</div>
</div>
{% endjstmp %}

{% jstmp "money_rate_add_form" %}
<div class="rate-add-form rate-form">
	<input type="button" id="close" value="x" />
	<img src="<< app.user.photo_mini >>" width="50" height="50">
	<label><< app.user.first_name >></label>
	<div id="content">
		<input type="text" value="" id="val"/>
		<input type="button" id="post" value="Сделать ставку" />
	</div>
</div>
{% endjstmp %}