{% load tags %}
{% jstmp 'my_bill' %}
<div id='my_bill'>
	<label class='header'>Ваш счет:</label>
		<div id='balance'>
			<div>
				<label id='bill' class='tags'> Charities = <span id="user_money"><< app.user.money().available >></span></label>
			</div>
		</div>
		<label class='text'>Вы можете пополнить счет или снять ваши деньги в любом ближайшем от вас терминале, через киви кошелек. <a id='show_rules' class="interactive" href="javascript:void(0);">Читать подробнее...</a></label>
		<div id='rest_global'>
			<label class='header'>Ваши ставки:</label>
			<div id='rest'>
				<label class='tags'> Charities = <span id="user_money_involved"><< app.user.money().involved >></span></label>
			</div>
		</div>
		<label class='text'>Ваши charities вернутся на ваш счет, если ваша ставка не выйграет.</label>
		<div id='sum'>
			<input type="text" id='field' type="text" maxlength="5">
			Введите сумму которую вы хотите внести или снять со счета и нажмите соответствующую кнопку. <p>
			Ваш номер мобильного <span class='interactive'><b><< app.user.phone >></b></span>. Проверьте правильность ввода	вашего номера, на соответсвующий кошелек <a class='interactive' href="https://w.qiwi.ru/">QIWI</a> будут выставляться счета или перечисляться деньги.
		</div>

		<% if (settings.DEBUG) { %>
			<a href="/test/my_bills/" target="_blank">Ваши счета</a>
		<% } %>

		<div id="captcha_form" style="display: none">
			<img id="captcha" alt="captcha" src="<< obj.PATH_TO_CAPTHA >>" width="80" height="25">
			<input type="text" id="answer_by_capthca" maxlength="5">
		</div>

		<div id='buttons'>
			<button id="bring" class="btn btn-green"><div class= 'background'><label>Внести</label></div></button>
			<button id="withdraw" disabled="disabled" class="btn btn-blue disabled"><div class= 'background'><label>Снять</label></div></button>
		</div>
		<div id='postwords'>
			За раз вы можете внести не менее << obj.consts.MIN_MONEY >> и не более << obj.consts.MAX_MONEY >> рублей.
			Комиссия QIWI за зачисление на счет составляет 1%.
			Комиссия за снятие денег со счета составляет 10%
	</div>
</div>

{% endjstmp %}