{% load tags %}

{% jstmp "my_rates_page" %}
<div id="my_rates_content">
	<div id="my_rates"></div>
</div>
{% endjstmp %}


{% jstmp "my_rate" %}
<div class="my_rate">
	<div id="lot_user_photo">
		<img src="<< obj.lot.user.photo_middle >>" />
	</div>
	<div id="my-rate-info">
		<div id="background-light">
			<div id="max_rate_value">No rates</div>
		</div>
		<div id="last_rate_type"></div>
	</div>
</div>
{% endjstmp %}