{% load tags %}

{% jstmp "user_panel" %}
<div id="user_panel">
	<div id="left-side"></div>
	<div id="center-side">
		<div></div>
	</div>
	<div id="right-side"></div>
	<div id="title" onclick="App.router.redirect('/');">Love or Money</div>
	<div id="win_indicator" class="yellow_button" <% if(!app.user.get('is_win')){ %> << 'style="display:none"' >> <% } %>  onclick="App.router.redirect('/my_rates/');">
		<div class="yellow_button_background"><label>YOU WIN!</label></div>
	</div>

	<div id="lot-place" style="display: none"><span></span></div>
	<div id="control">
		<div id="navi_panel">
			<button>!</button>
			<button onclick="App.router.redirect('/profile/');" id="open_profile">Профиль</button>
			<button onclick="App.router.redirect('/my_rates/');" id="my_rates_btn">Мои ставки</button>
			<button onclick="App.router.redirect('/my_bill/');" id="my_money">Мой счёт: << app.user.purse.available() >> chr.</button>
		</div>
	</div>
</div>
{% endjstmp %}

{% jstmp "profile" %}
<div id="profile">
	<div id="profile_main_note" class="user-note-photo-block">
		<div id="top">
			<span id="first_name-duplicate"><< app.user.first_name >></span>
			<input type="file" id="UserPhotoToUpload" name="file" value="Редактировать фото" >
			<button class="profile_note_edit" id="update_photo">
				<span>Редактировать фото</span>
			</button>
		</div>

		<img id="user_photo" src="<< app.user.photo >>" alt="Фотография пользователя"/>
		<div id="description">
			<div id="about_me-duplicate"><< app.user.about_me >></div>
		</div>
	</div>
	<div id="profile_data">
		<div id="main_line">
			<input type="button" id="hide_profile" value="< Свернуть мои данные"/>
			<input type="button" id="show_profile" value="> Развернуть мои данные" style="display:none;" />
			<label id="time-left">
				Окончание через: <span></span>
			</label>
		</div>
		<hr />
		<div id="profile_form">
			<div class="profile_note" id="about_me-note">
				<div id="social_accounts">Ваши аккуанты:
					<% for (var i = 0; app.user && i < app.user.social_accounts.length; i++) { %>
					<img src="{{ STATIC_URL }}img/social_icon/<< app.user.social_accounts[i]; >>.png" alt="<< app.user.social_accounts[i]; >>" />
					<% } %>
					<button id="add_social_account">
						<img src="{{ STATIC_URL }}img/add_social_account.jpg" alt="+" />
					</button>
					<div id="add_social_account_menu" style="display: none;">
					</div>
				</div>
				<button id="logout" onclick="App.router.redirect('/logout/');">Выход</button>
				<label class="profile_note_title">О себе:</label>
				<textarea class='editor' id="about_me" maxlength="150" placeholder="Расскажите о себе"><< app.user.about_me >></textarea>
			</div>
			<hr>

			<div class="profile_note" id="username-note">
				<label class="profile_note_title">Ваше имя:</label>
				<input class='editor' type="text" value="<< app.user.first_name >>" id="first_name" maxlength="32" />
				<span class="info">Укажите ваше имя или псевдоним.</span>
			</div>
			<hr/>

			<div class="profile_note" id="gender-note">
				<label class="profile_note_title">Ваш пол:</label>
				<span class="info">Укажите ваш пол.</span>
			</div>
			<hr/>
			<div class="profile_note" id="mobile-note">
				<label class="profile_note_title">Ваш мобильный номер:</label><br>
				<span id="plus_seven"> +7</span><input class='editor' style="display: inline-block;" type="text" value="<< app.user.telephone_number >>" id="telephone_number" maxlength="10" <% if(app.user.telephone_number.length != 0) { %><< "readonly" >>  <% } %>/>
				<div class="info">
					Мобильный номер не отображается публично, а служит для определения
					id вашего <a class='interactive' href="https://w.qiwi.ru/">QIWI</a> кошелька. Внимательно проверяйте правильность написания вашего номера! На данный номер будут выставляться счета для
					пополнения баланса  и переводиться денежные средства.
				</div>
			</div>
			<hr/>
			<div class="profile_note" id="city-note">
				<label class="profile_note_title">Город встречи:</label>
				<!--<input type="text" class="editor" id="city" value="<< app.user.city >>"/>-->
			</div>
			<hr/>
	<!--#NOT_LOVE		<div class="profile_note" id="auctonmeter-note">
				<label class="profile_note_title">Ваш аукционометр:</label>
				<table>
					<tr>
						<td id="to_self-block"><span id="to_self"></span>% себе</td>
						<td id="auctionmeter-panel"><div id="auctionmeter"></div></td>
						<td id="to_children-block"><span id="to_children"></span>% детям</td>
					</tr>
				</table>
				<span class="info">Определите сколько денег вы передадите денег, а сколько оставите себе.</span>
			</div>
	---->
			<hr/>

			<div class="profile_note">
				<input type="checkbox" value="1" id="user_confirmation" <% if (app.user.user_confirmation) { %> << 'checked disabled="disabled"' >> <% } %>>
				<label id='I_confirm'>Я согласен(а) с <a class='interactive' href="javascript:void(0);" onclick="App.router.redirect('/');">правилами</a> участия в благотворительном аукционе.</label>
			</div>
			<hr/>

			<div class="profile_note" id="finish_rate">
				<label class="profile_note_title">До встречи:</label>
				<div id="date_selectors">
					<select id="close_lot_day" class="editor">
						<option selected="selected">-</option>
						<% for(var i = {{ MIN_COUNT_DAY_TO_FINISH_RATE }}; i < {{ MAX_COUNT_DAY_TO_FINISH_RATE }}; i++) { %>
						<option><< i >></option>
						<% } %>
					</select> дней
					<select id="close_lot_hour" class="editor">
						<option selected="selected">-</option>
						<% for(var i = 0; i < 24; i++){ %>
						<option><< i >></option>
						<% } %>
					</select> часов
					{% if DEBUG == True %}
						<select id="close_lot_minutes" class="editor">
							<option selected="selected">-</option>
							<% for(var i = 0; i < 60; i++) { %>
							<option><< i >></option>
							<% } %>
						</select> минут
					{% endif %}
				</div>
				<span class="info">Продолжительность аукциона.</span>
			</div>
			<div id="button_panel">
				<button id="save_profile" class="btn btn-green disabled">
							<div class='background'><label>Сохранить</label></div>
				</button>
				<button id="put_lot_button" class="btn btn-blue <% if(!app.user.profile_filled || app.user.lot) { %><< 'disabled' >> <% } %>">
					<div class='background'><label>Выставить лот!</label></div>
				</button>
			</div>
		</div>
	</div>

	<div id="separator" class="body_background"></div>

	<div id="rates">
		<div id="title">
			<div>Аукцион</div>
		</div>
	</div>
</div>
{% endjstmp %}

{% jstmp "lots_page" %}

<div id="lots-content">
	<div id="search_form_gender">
		 <div>
			 <button value="female">Девушки</button> |
			 <button value="">Все</button> |
			 <button value="male">Парни</button>
		 </div>
	</div>
	<div id="supported_project">
		<table>
			 <tr>
				  <td id="help-to-project">
						Поддержи проект! Размести пост у себя на стене и расскажи друзьям о нас.
				  </td>
				  <td>
						<div class="share42init" data-url="{{ SITE_URL }}" data-title="Пойдешь на свидание со мной?"></div>
				  </td>
			 </tr>
		</table>
	</div>

	<div id="lots"></div>
</div>
{% endjstmp %}


{% jstmp "lots_page_unlog" %}
<div id="lots-content">
		</div></div>
	<div id="lots"></div>
</div>
{% endjstmp %}


{% jstmp "general_lot_view" %}
<div class="general_lot">
	<img src="<< obj.data.user.photo_middle >>" alt="Фото пользователя << obj.data.user.first_name >>" />
	<label class="remained_type">осталось <span></span></label>
</div>
{% endjstmp %}



{% jstmp "user_profile" %}
<div id="profile">
	<% console.log(obj) %>
	<div id="profile_main_note" class="user-note-photo-block">
		<img id="user_photo" src="<< obj.user.photo >>" alt="Фотография пользователя" height="400" width="500"/>
		<div id="description">
			<< obj.user.about_me >>
		</div>
	</div>
	<div id="profile_data">
		<div id="main_line">
			<% if (obj.lot.id == -1 || obj.lot === undefined) { %>
				<label id="time-left">
					Пользователь не продаётся
				</label>
			<% } else { %>
				<label id="time-left">
					Окончание ставок через: <span></span>
				</label>
			<% } %>
		</div>
		<div id="profile_form">
			<div class="profile_note" id="username-note">
				<label class="profile_note_title">Псевдоним:</label>
				<label class='editor' type="text" id="first_name"><< obj.user.first_name >></label>
			</div>
			<div class="profile_note" id="gender-note">
				<label class="profile_note_title">Пол:</label>
				<label class="editor" id="gender">
					<% if (obj.user.gender == 'male') { %>
 						Мужской
 					<% } else if (obj.user.gender == 'female') { %>
						Женский
					<% } %>
				</label>
			</div>
			<div class="profile_note" id="city-note">
				<label class="profile_note_title">Город:</label>
				<label id="city"><< obj.user.city >></label>
			</div>
		</div>
	</div>
	<div id="rates">

	</div>
</div>
{% endjstmp %}

{% jstmp "chat" %}
<div id="chat">
	<div id="title">
		<div>
			Поздравляем вы выйграли! Теперь вы можете отправить<br>
			сообщение лоту и договориться о времени и месте свидания.
		</div>
	</div>
	<div id="history_content">

	</div>

	<div id="add_chat_message">
		<img src="<< app.user.photo_mini >>" width="50" height="50">
		<label><< app.user.first_name >></label>
		<div id="content">
			<textarea rows="4" cols="50" maxlength="149" id="message_text"></textarea>
			<input type="button" id="send" value="Отправить" />
		</div>
	</div>
	<!---
	<table id="add_chat_message" cellpadding="0" cellspacing="0" border="0">
		<tbody>
			<tr>
				<td id="to-meet-timeleft">
					Осталось <span></span>
				</td>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<td>
					<textarea rows="5" cols="30" id="message_text"></textarea>
				</td>
				<td>
					<input type="button" id="send" value="Отправить" />
				</td>
			</tr>
		</tbody>
	</table>--->
	<div id="result-over">
		<button class="result" value="" >
			<div class='background'>
				<label id='text'></label>
			</div>
		</button>
	</div>
	<div id="info">
		<span>
			При нажатии кнопки “свидание состоялось” вы подтверждаете оплату лота.
			Мы настоятельно рекомендуем вам подтверждать при встрече.
		</span>
		<br>
		<br>
		<span class="mini">
			* По истечении семи дней свидание считается автоматически анулированным.
			В этом случае и лот и покупатель получают минус одно свидание. <a href="javascript:void(0);" onclick="App.router.redirect('/')">Читать подбронее...</a>
		</span>
	</div>
</div>
{%endjstmp %}

{% jstmp "chat-row" %}
<div class="chat-row">
	<a href="/user/<<obj.data.user.id >>/">
		<img class="user-photo" src="<< obj.data.user.photo_mini >>" alt="" />
	</a>
	<label class="author-name"><< obj.data.user.first_name >></label>
	<div class="message"><< obj.data.text >></div>
	<label class="time-left"><span></span></label>
	<!---
	<table>
		<tr>
			<td id="user-photo">
				<a href="/user/<< obj.data.user.id >>/"><img class="user-photo" src="<< obj.data.user.photo_mini >>" alt="" style="width: inherit" /></a>
			</td>
			<td>
				<label class="author-name"><< obj.data.user.first_name >></label>
				<div class="message"><< obj.data.text >></div>
			</td>
			<td id="time-left">
				<span></span> назадz
			</td>
		</tr>
	</table>--->
</div>
{% endjstmp %}
