{% load tags %}

{% jstmp "rules" %}
	<div id="rules-block">
		<div id="rules_title" class="rules_title">
			<label id='rules_title_1'>Благотворительный аукцион свиданий</label>
			<label id='rules_title_2'>Приглашайте на свидание. Импровизируйте или делайте ставки!</label>
		</div>
		<div id="rules">
			<div id="lvl0_rules"><label>Правила аукциона:</label><a style="display: none" id="close_rules" class='interactive' href="javascript:void(0);">Свернуть <b>x</b></a>
				<div id="lvl1_rules">
					Участниками проекта могут быть лица достигшие 18 лет. <br>
					Каждый может принять участие в аукционе: выставить свое свидание в качестве Лота или быть Покупателем свидания с понравившимся человеком.
					<a id='show_rules' class="interactive" href="javascript:void(0);">Читать подробнее...</a>
				</div>
				<div id="lvl2_rules" style="display: none; ">
					Стартовая цена любого лота - 100 Crt. (Crt. сокр. от <i>Charities</i> является внутренней валютой проекта. 1 Crt. приравнивается к 1 Российскому рублю)<br>
					Минимальный шаг ставки - 100 Crt.<br>
					Так же у вас есть возможность всего один раз оригинально признаться в любви лоту.<br>
					Данная возможность “восстанавливается” после того, как вы три раза успешно сходили на свидание.<br>
					Лот определяет период аукциона (от одной недели до трех).<br>
					Лот выбирает максимальную ставку или одно из признаний, таким образом, определяя единственного победителя, с которым пойдет на свидание.<br>
					Лот имеет право определить, какая сумма пойдет на благотворительность, а какая на его личные нужды, это решение лот в праве принимать самостоятельно.<br>
					Для совершения ставок вам нужно пополнить ваш счет через систему платежей <a class='interactive' href="https://w.qiwi.ru/">QIWI</a>. Зачисленные средства вы можете в любое время вывести на свой QIWI кошелек.<br>
					При совершении ставки, эквивалентная сумма замораживается на время аукциона или пока вашу ставку не перебьет другой покупатель.<br>
					Если ваша ставка или признание победит на аукционе, у вас появится возможность обмениваться личными сообщениями с лотом, чтобы вы могли договориться о точной дате и месте свидания.<br>
					При встрече вы должны подтвердить, что свидание состоялось (Вы сможете это сделать через специальную кнопку на странице лота). Считается, что сайт выполнил свою функцию и деньги соответственно переведутся на благотворительность или лоту.<br>
					Подтвердить, что свидание состоялось может только покупатель.<br>
					Лот может отменить свидание.<br>
					Если покупатель не подтверждает, что свидание состоялось в течение трех дней, то лот получает штрафной бал «минус одно свидание».<br>
					Если свидание не произошло по вине покупателя, то лот может заявить, что свидание не состоялось. В этом случае «минус одно свидание» получает покупатель.<br>
					После трех пропущенных свиданий вы не сможете больше принимать участие ни как покупатель, ни как лот.<br>
					Убедительная просьба негативные отзывы, пошлые шутки и прочее под фотографиями пользователей не писать<br>
					Запрещается выставлять не свои фотографии, фотографии в обнаженном виде или с элементами эротики, фотографии животных и неодушевленных предметов. Ваше лицо должно быть отчетливо видно.<br>
					<p>
					После выставления на торги, данный лот нельзя отменить или изменить данные профиля. Данные действия становятся активными после окончания аукциона.
					<P>
					<b>Выставив или выйграв свидание вы будете обязаны пойти на него!</b>
					<div>
						<a id="sub-1" class="instructions_link subject-title interactive" href="javascript:void(0);">Инструкции по осуществлению платежей</a>
						<div id="qiwi_purse" class="instructions">
							<label>Гарантия перевода или возврата денежных средств:</label><br>
							Любой пользователь в любое время может обналичить Charities на свой <a class='interactive' href="https://w.qiwi.ru/">QIWI</a> кошелек в соотношении 1 Charities = 1 Российскому рублю. <br>
							Комиссия за вывод средств составляет 10%.<br>

							Как зарегистрировать кошелек <a class='interactive' href="https://w.qiwi.ru/">QIWI</a>:
							<object width="480" height="315">
							<param name="movie" value="http://www.youtube.com/v/_KCdl4QpSj0?version=3&amp;hl=ru_RU&amp;rel=0">
							<param name="allowFullScreen" value="true">
							<param name="allowscriptaccess" value="always">
							<param name="wmode" value="opaque">
							<embed src="http://www.youtube.com/v/_KCdl4QpSj0?version=3&amp;hl=ru_RU&amp;rel=0" wmode="opaque" type="application/x-shockwave-flash" width="420" height="315" allowscriptaccess="always" allowfullscreen="true">
							</object><br>

							Как пополнить <a class='interactive' href="https://w.qiwi.ru/">QIWI</a> Кошелек:
							<object width="480" height="315">
								<param name="movie" value="http://www.youtube.com/v/wCVpbw0wxW8?version=3&amp;hl=ru_RU&amp;rel=0">
								<param name="allowFullScreen" value="true">
								<param name="allowscriptaccess" value="always">
								<param name="wmode" value="opaque">
								<embed src="http://www.youtube.com/v/wCVpbw0wxW8?version=3&amp;hl=ru_RU&amp;rel=0" wmode="opaque" type="application/x-shockwave-flash" width="420" height="315" allowscriptaccess="always" allowfullscreen="true">
							</object><br>

							Как пополнить счет <a class='interactive' href="https://w.qiwi.ru/">QIWI</a>:
							<object width="480" height="315">
								<param name="movie" value="http://www.youtube.com/v/kbsSHtOl3G8?version=3&amp;hl=ru_RU&amp;rel=0">
								<param name="allowFullScreen" value="true">
								<param name="allowscriptaccess" value="always">
								<param name="wmode" value="opaque">
								<embed src="http://www.youtube.com/v/kbsSHtOl3G8?version=3&amp;hl=ru_RU&amp;rel=0" wmode="opaque" type="application/x-shockwave-flash" width="420" height="315" allowscriptaccess="always" allowfullscreen="true">
								</object><br>

							Как пополнить счет <a class='interactive' href="https://w.qiwi.ru/">QIWI</a> со счета Билайн:
							<object width="480" height="315">
								<param name="movie" value="http://www.youtube.com/v/pi0NiPbVFcg?version=3&amp;hl=ru_RU&amp;rel=0">
								<param name="allowFullScreen" value="true">
								<param name="allowscriptaccess" value="always">
								<param name="wmode" value="opaque">
								<embed src="http://www.youtube.com/v/pi0NiPbVFcg?version=3&amp;hl=ru_RU&amp;rel=0" wmode="opaque" type="application/x-shockwave-flash" width="420" height="315" allowscriptaccess="always" allowfullscreen="true">
								</object><br>

							Как вывести (обналичить) деньги из <a class='interactive' href="https://w.qiwi.ru/">QIWI</a> кошелька:
							<object width="480" height="315">
								<param name="movie" value="http://www.youtube.com/v/5xYzSSXD6yw?version=3&amp;hl=ru_RU&amp;rel=0">
								<param name="allowFullScreen" value="true">
								<param name="allowscriptaccess" value="always">
								<param name="wmode" value="opaque">
								<embed src="http://www.youtube.com/v/5xYzSSXD6yw?version=3&amp;hl=ru_RU&amp;rel=0" wmode="opaque" type="application/x-shockwave-flash" width="420" height="315" allowscriptaccess="always" allowfullscreen="true">
								</object><br>
						</div>
				</div>
				<div>
					<a id="sub-2" class="instructions_link subject-title interactive" href="javascript:void(0);">Политика конфиденциальности</a>
					<div class="instructions">

						Политика конфиденциальности распространяется на использование проекта Love or Money на сайте loveormoney.me.<br>
						На Love or Money конфиденциальность информации имеет огромное значение. Так как мы отвечаем за ваши данные, мы разработали политику, гарантирующую их полную защиту во время использования сайта loveormoney.me.<br>
						Использование сайта означает что вы ознакомились и согласны с Политикой конфиденциальности. Если вы принципиально не согласны с каким-либо из пунктов, просто не пользуйтесь сайтом.<br>
						<label>Отдельный пункт о детях</label><br>
						Мы не привлекаем и не поощряем использование нашего сервиса лицами, не достигшими 18 лет и напоминаем, что несовершеннолетние не в праве регистрироваться на нашем сайте.<br>
						<label>О Love or Money и информации, которую мы собираем</label><br>
						<i>Love or Money</i> - это благотворительный аукцион, где лотами являются свидания людей. ВНИМАНИЕ! Мы продаём не человека, а лишь возможность встретиться с ним и весело провести время.<br>
						В свою очередь вы, покупая лот, не только сможете хорошо провести время, но и делаете хорошее дело. Все деньги, пожертвованные участниками, будут переданы в благотворительный фонд Артист.<br>
						При регистрации мы просим указать имя, email, пол и другие дополнительные данные. Эти данные вы всегда можете исправить или изменить (кроме вашего пола и адреса страницы) на странице "Профиль".<br>
						На ваше усмотрение, вы можете выбрать что написать о себе в профайле. Например, вашу этническую принадлежность, ваше образование, религиозные убеждения, интересы и т.д. Пожалуйста, помните, что публикуемые вами фотографии и видео могут показывать ваше отношение к каким-то вещам и говорить о вашем здоровье. Если вы выкладываете персональную информацию, это означает что вы согласны с Политикой конфиденциальности.<br>
						Если вы отправляете нам корреспонденцию, например письмо или email, а также другие пользователи или третьи лица отправляют информацию о ваших действиях или опубликованных материалах на сайте, мы можем собирать информацию в файлах, которая будет доступна авторизованному персоналу. Также мы можем собирать комментарии других людей, которые были присланы в разделе жалоб.<br>
						<label>Информация, которая собирается автоматически</label><br>
						<i>Cookie</i> это информация, посылаемая веб-сервером на компьютер пользователя, для сохранения в браузере. Мы используем cookie для сохранения сессии. Cookie с сессией удаляются при закрытии браузера.<br>
						Если вы все равно хотите остановить сохранение куки в будущем, пожалуйста, посмотрите инструкцию браузера в разделе "Помощь" в меню браузера. Более подробно об управлении и удалении cookie можно узнать здесь:www.allaboutcookies.org или www.youronlinechoices.com/uk/.<br>
						Во время использования нашего сайта, мы автоматически сохраняем информацию о вашем email и IP адресах. Все сайты собирают подобную информацию в аналитических целях. Если вы будете разглашать персональную информацию с помощью нашего сайта, например с помощью сообщений, вся ответственность ложится исключительно на вас. Мы оставляем за собой право ограничивать права на учетные записи пользователей, которые используют сайт, нарушая Условия использования.<br>
						<label>Раскрытие вашей информации</label><br>
						Мы не продаем и не предоставляем личную информацию о наших пользователях третьим лицам. Мы используем информацию в маркетинговых целях. Однако, даже в этих случаях информация для идентификации вашей личности, как например ваш пароль не доступна даже им. Данная информация, в том числе ваш пароль, не доступна никому, кроме вас.<br>
						В целях сохранения безопасной атмосферы, Love or Money сотрудничает с правоохранительными органами и прочими организациями для обеспечения интеллектуальной собственности и других прав.<br>
						Мы оставляем за собой право раскрыть вашу личную информацию в соответствии с законом в случаях, когда мы считаем, что раскрытие информации необходимо для защиты наших прав и/или это является требованием суда, а также в случае судебного разбирательства ситуации, возникшего на нашем сайте.<br>
						<label>Использование вами чужой информации</label><br>
						Вы не можете использовать чужую информацию в коммерческих целях, заниматься спамом, угрожать или совершать незаконные поступки. Мы оставляем за собой право заблокировать доступ людям, которые злоупотребляют информацией других пользователей или иным образом нарушают Условия использования.<br>
						<label>Просмотр и изменение личной информации</label>
						Зарегистрировавшись, вы можете смотреть и изменять всю вашу личную информацию, в том числе:<br>
						Ваш профайл, фото;<br>
						Ваш псевдоним, номер мобильного телефона;<br>
						Ваш пароль.<br>
						Пожалуйста, обязательно обновите данные, если кто-то воспользовался каким-то образом вашим профайлом. Мы советуем периодически изменять пароль, чтобы снизить риск взлома вашего аккаунта.<br>
						Вы вправе попросить копию вашей информации (за которую мы можем удержать комиссию).<br>
						Мы приветствуем любые комментарии или пожелания. Не стесняйтесь писать в службу поддержки, в том числе если вам нужно изменить какие-то настройки или информацию.<br>
						<label>Безопасность</label><br>
						Love or Money принимает все меры безопасности для обеспечения защиты, возможности утраты или некорректного использования информации на нашем сайте. Love or Money  использует технические стандарты для защиты конфиденциальности личной информации, в том числе фаерволы. Хотя "абсолютной безопасности" в интернете не существует, наши технические специалисты постоянно работают над вашей безопасностью при использовании сайта.<br>
						<label>Изменения в Политике конфиденциальности</label><br>
						Если мы решим внести поправки в Политику конфиденциальности или использования email адресов, мы опубликуем изменения на Главной странице, странице о Конфиденциальности и в остальных соответствующих местах, так вы будете уверены в том, как мы собираем и используем информацию и в каких случаях возможно ее раскрытие.<br>
						Мы оставляем за собой право на изменение Политики конфиденциальности в любое время, поэтому, пожалуйста, иногда просматривайте этот раздел. В случае внесения существенных изменений, вы получите уведомление по электронной почте или оно будет опубликовано на главной странице сайта.<br>

					</div>
				</div>
				<div>
					<a id="sub-3" class="instructions_link subject-title interactive" href="javascript:void(0);">Руководство Love or Money по безопасности</a>
					<div class="instructions">

							Не раскрывайте личную информацию! Ваш домашний адрес, личный электронный адрес и номера телефонов держите в профиле недоступными для других пользователей.
					<ul>
					<li>	Будьте осторожны, используя имя пользователя с сексуальной окраской – это может произвести ложное впечатление о вас. Мы предлагаем использовать ваше имя в качестве имени пользователя, если вам так удобнее.</li>
					<li>	Пожалуйста, храните свой пароль в надёжном месте. Никогда не вводите ваш пароль на сайтах, предлагающих скидки на Love or Money, бесплатные товары и т.п., иначе ваш аккаунт может быть украден или заблокирован.</li>
					<li>	Пожалуйста, никому НЕ РАСКРЫВАЙТЕ вашу финансовую информацию. Будьте бдительны, если кто-либо просит вас предоставить информацию о вашем банковском счете, номер кредитной карты или иные данные, касающиеся ваших финансов. НЕ пересылайте никому деньги. Будьте осмотрительны, если с вами связался человек, выдающий себя за представителя нашей (или другой) компании, который просит оплатить доставку приза или заплатить за услугу, которая не предоставляется непосредственно веб-сайтом Love or Money. Также проявляйте крайнюю осторожность, если с вами связался человек, который, предположительно, находится в беде и просит выслать ему денег, обещая их вернуть. Как правило, эти люди используют чужие фото и пропадут после получения денежного перевода.</li>
					<li>	Когда вы начинаете разговаривать в чате с недавним знакомым/знакомой, попросите у него/ее несколько свежих фото, лучше всего, сделанных не более 4 недель назад.</li>
					<li>	Не терпите оскорблений, домогательств или иных действий, которые вам неприятны. Вы можете заблокировать пользователя или сообщить нам о его поведении, если он не соблюдает Правила.</li>
					<li>	Когда вы готовы организовать встречу, в целях безопасности, расскажите другу/подруге, где она будет проходить. Перед встречей поговорите с человеком, с которым у вас назначено свидание по телефону.</li>
					</ul>

					</div>
				</div>
			</div>
			<div id="rules_tail">Помните, вы покупаете не человека, а возможность свидания с ним.	Аукцион же преследует единственную цель - БЛАГОТВОРИТЕЛЬНОСТЬ.</div>
			</div>
		</div>
		<div class="br"></div>
	</div>
{% endjstmp %}