{% spaceless %}
    {% load i18n %}

    {% if DISPLAY == 'BUTTON' %}
        <a href="#" x-ulogin-params="display=window;fields={{ FIELDS }};redirect_uri={{ REDIRECT_URL }};{% if CALLBACK %}&amp;callback={{ CALLBACK }}{% endif %};" id="uLogin"><img src="http://ulogin.ru/img/button.png" width=187 height=30 alt="{% trans "Multipass" %}"/></a>

    {% else %}
        <div id="uLogin" x-ulogin-params="display={{ DISPLAY }};fields={{ FIELDS }};optional={{ OPTIONAL }};providers={{ PROVIDERS }};hidden={{ HIDDEN }};redirect_uri={{ REDIRECT_URL }}{% if CALLBACK %};callback={{ CALLBACK }}{% endif %}"></div>
    {% endif %}
{% endspaceless %}
