.chat-row {
  font-size: 13px;
  font-family: arial;
  position: relative;
  background-color: white;
  min-height: 50px;
  border-top: solid 1px #8cd9db;
  padding: 6px;
  padding-top: 7px; }
  .chat-row a {
    position: absolute; }
  .chat-row .user-photo {
    position: absolute;
    width: 50px;
    left: 0px;
    top: 0px; }
  .chat-row .author-name {
    position: absolute;
    font-weight: 900;
    left: 55px;
    margin-left: 6px; }
  .chat-row .time-left {
    font-size: 10px;
    position: absolute;
    right: 6px;
    color: grey;
    top: 7px; }
  .chat-row .message {
    position: static;
    padding-left: 55px;
    padding-top: 20px;
    padding-right: 55px;
    word-wrap: break-word; }

#chat #title {
  background-image: url("/static/img/gender-filter-bg.png");
  height: 42px;
  color: white; }
  #chat #title > div {
    padding-top: 11px;
    display: table;
    margin: 0 auto; }
#chat #add_chat_message {
  height: 150px;
  position: relative;
  background-color: #d7f1fc;
  padding: 6px;
  padding-bottom: 10px;
  font-family: Arial;
  font-size: 13px; }
  #chat #add_chat_message img {
    float: left; }
  #chat #add_chat_message label {
    margin-left: 6px;
    font-weight: bold; }
  #chat #add_chat_message #content {
    margin-left: 56px;
    margin-top: 3px; }
    #chat #add_chat_message #content #message_text {
      height: 90px;
      width: 410px;
      font-family: Arial;
      font-size: 15px;
      border: solid 1px #8cd9db;
      resize: none;
      margin-top: 0px; }
    #chat #add_chat_message #content #send {
      width: auto;
      background-color: #59bfea;
      border: solid #8cd9db 1px;
      cursor: pointer;
      height: 27px;
      margin-top: 10px;
      float: right;
      margin-right: 6px;
      color: white; }
#chat #result-over {
  margin: 20px auto;
  width: 180px;
  height: 29px; }
  #chat #result-over .result {
    position: relative;
    width: 180px;
    height: 32px;
    background-color: #59bfea;
    border: solid #8cd9db 2px;
    border-radius: 4px;
    font-family: Arial;
    cursor: pointer; }
    #chat #result-over .result .background {
      position: absolute;
      width: 100%;
      height: 15px;
      background-color: rgba(255, 255, 255, 0.4);
      border-radius: 3px 3px 5px 5px;
      top: 0px;
      right: 0px; }
      #chat #result-over .result .background label {
        position: absolute;
        text-align: center;
        top: 6px;
        right: 0px;
        width: 160px; }
#chat #info {
  padding: 10px;
  font-size: 13px;
  color: gray; }
  #chat #info .mini {
    font-size: 10px; }
