$border-clor: #8cd9db
$background-color: #d7f1fc
$background-button-color: #59bfea

.chat-row
	$padding-top: 7px
	font-size: 13px
	font-family: arial
	position: relative
	background-color: white //#eee
	min-height: 50px
	border-top: solid 1px $border-clor
	padding: 6px
	padding-top: $padding-top

	a
		position: absolute

	.user-photo
		position: absolute
		width: 50px
		left: 0px
		top: 0px

	.author-name
		position: absolute
		font-weight: 900
		left: 55px
		margin-left: 6px

	.time-left
		font-size: 10px
		position: absolute
		right: 6px
		color: grey
		top: $padding-top

	.message
		position: static
		padding-left: 55px
		padding-top: 20px
		padding-right: 55px
		word-wrap: break-word

#chat
	#title
		background-image: url('/static/img/gender-filter-bg.png')
		height: 42px
		color: white
		>div
			padding-top: 11px
			display: table
			margin: 0 auto

	#add_chat_message
		height: 150px
		position: relative
		background-color: $background-color
		padding: 6px
		padding-bottom: 10px
		font-family: Arial
		font-size: 13px

		img
			float: left

		label
			margin-left: 6px
			font-weight: bold
		
		#content
			margin-left: 56px
			margin-top: 3px

			#message_text
				height: 90px
				width: 410px
				font-family: Arial
				font-size: 15px
				border: solid 1px $border-clor
				resize: none
				margin-top: 0px

			#send
				width: auto
				background-color: $background-button-color
				border: solid $border-clor 1px
				cursor: pointer
				height: 27px
				margin-top: 10px
				float: right
				margin-right: 6px
				color: white


	#result-over
		margin: 20px auto
		width: 180px
		height: 29px

		.result
			position: relative
			width: 180px
			height: 32px
			background-color: $background-button-color
			border: solid $border-clor 2px
			border-radius: 4px
			font-family: Arial
			cursor: pointer
			.background
				position: absolute
				width: 100%
				height: 15px
				background-color: rgba(255, 255, 255, 0.4)
				border-radius: 3px 3px 5px 5px
				top: 0px
				right: 0px
				label
					position: absolute
					text-align: center
					top: 6px
					right: 0px
					width: 160px


	#info
		padding: 10px
		font-size: 13px
		color: gray

		.mini
			font-size: 10px

