#body
	width: auto
	margin: auto

.get-invite-body
	width: 500px !important
	margin: 0 auto !important

#invite-page
	width: 100%
	height: 100%

	> *
		text-align: center
		font:
			family: Verdana
			weight: bolder

	#title
		margin-top: 25px
		font-size: 16px
		color: #91cde6

	#header
		heigth: 120px
		padding: 4px 0
		//position: relative
		//top: 150px
		margin-top: 100px

		#header-title
			font-size: 32px
			color: #63d769

	#content
		//position: relative
		//top: 430px
		margin-top: 150px
		font-size: 40px
		color: #1796cb
		padding-bottom: 20%

		#subject
			font:
				size: 12px
				weight: normal
			color: #999
			text-align: left
			width: 510px
			margin: 50px auto
		> label
			font:
				size: 14px
				weight: normal
			color: #47acd6
			text-aling: center
			margin-bottom: 25px

		#helper
			//position: absolute
			bottom: 10px
			text-align: center
			width: 99%
			//margin-top: -40px
			margin-top: 35px
			font-size: 16px
			color: #999
			//margin-bottom: 20%

#authorisation_panel
	position: absolute
	border: 1px solid #d7f1fc
	width: 425px
	height: 172px
	background: #fff
	color: #0d7aa7
	border-radius: 6px
	-moz-border-radius: 6px
	-webkit-border-radius: 6px
	text-align: center
	background-color: white
	z-index: 100
	smargin-top: -100px

	#authorisation_panel_close
		width: auto
		height: auto

		position: absolute
		right: 15px
		top: 5px
		font-size: 13px
		cursor: pointer
		#authorisation_panel_close_123
			font-family: cursive
			font-size: 12px
			font-weight: bold
	#auth_title
		cursor: default
		width: 100%
		text-align: center
		width: 100%
		margin: 0 auto
		margin-top: 55px
		font:  12px Arial
		font-weight: bold
		//	padding-right: 20px

	.div_auth_button
		float: left
		font:  12px Arial
		margin: 25px 0px 0px 0px
		width: 85px
		height: 85px

.auth_button
	width: 54 px
	height: 54 px
	border: none
	background: none
	padding: 0px
	background-repeat: no-repeat

.pic_auth
	width: 54 px
	height: 54 px

.b_name
	color: #1a1a1a
	font-size: 12px

$white-blue-color: #04DDDD
$white-dark-blue-color: #067cad
$gray-color: #e5e5e5

#profile
	width: 500px
	margin: 0 auto
	.profile_note_title
		font:
			weight: bolder
			family: Verdana
			size: 14px
		color: #808080

	hr
		margin-top: 6px
		margin-bottom: 6px
		border-style: none
		background-color: white
		height: 1px

	.editor
		border: solid 1px $white-blue-color
		border-radius: 5px
		width: 100%
		height: 25px
		outline: none
		margin-bottom: 5px
		margin-top: 5px
		padding-left: 6px

	#plus_seven
		font-size: 13px
		font-family: arial
		position: absolute
		margin-top: 10px
		margin-left: 5px

	#telephone_number
		padding-left: 22px

	.bad_fill_field
		border: solid 1px red

	.info
		font-size: 13px
		color: #808080
		margin-left: 6px

	$button_pannel_button_width: 140px
	button.btn
		width: $button_pannel_button_width
		cursor: pointer

	#button_panel
		margin: 20px auto
		width: 147px

	> #profile_main_note
		position: relative

		#UserPhotoToUpload
			position: absolute
			top: -200px

		#update_photo
			position: absolute
			cursor: default
			border: none
			background: none

			> span
				cursor: pointer
				float: right
				text-decoration: normal
				color: #0d7aa7
				font:
					weight: bolder
					size: 14px

		.default-photo
			margin-top: 180px
			margin-left: 160px

		.no-default-photo
			right: 0px

	> #profile_data
		> #main_line
			> input
				border: none
				background: none
				text-decoration: underline
				cursor: pointer
		> hr
			width: 100%


.btn-green, .btn-blue
	margin: 0 2px !important
	background: none !important
	border-radius: 5px !important
	padding: 0px !important
	height: 25px !important
	cursor: pointer !important
	border: solid 2px #8cd9db !important
	position: relative !important

	& *
		cursor: pointer

	.background
		position: absolute
		width: 100%
		height: 12px
		background-color: rgba(255, 255, 255, 0.4)
		border-radius: 3px 3px 5px 5px
		top: 0px
		right: 0px
		label
			font-size: 14px
			position: absolute
			text-align: center
			top: 2px
			right: 0px
			width: inherit

.btn-green
	background-color: #00bf02 !important
.btn-blue
	background-color: #59bfea !important

.disabled
	background-color: #d5d5d5 !important

#shadow
	background-color: rgba(255, 255, 255, 0.5)
	position: fixed
	width: 100%
	height: 100%
	left: 0px
	top: 0px
	z-index: 90

.combo
	> div > input[type=button]
		color: #04dddd
		font-size: 15px
		outline: none !important
	> .list
		max-width: 498px
		border-color: #04dddd


#widgets
	margin: 0 auto
	margin-top: 35px
	top: 0
	width: 640px
	height: 300px
	div
		float: right
		margin-left: 10px
		margin-right: 10px

///complete page
#complete
	width: 650px
	margin: 0 auto
	
	#arigoto
		font:
			size: 28px
			weight: bolder
		color: #1796cb
		text-align: center

	#info, #subject
		font-size: 14px
		text-align: center
		color: #1796cb
	#subject
		margin-top: 45px
