#body {
  width: auto;
  margin: auto; }

.get-invite-body {
  width: 500px !important;
  margin: 0 auto !important; }

#invite-page {
  width: 100%;
  height: 100%; }
  #invite-page > * {
    text-align: center;
    font-family: Verdana;
    font-weight: bolder; }
  #invite-page #title {
    margin-top: 25px;
    font-size: 16px;
    color: #91cde6; }
  #invite-page #header {
    heigth: 120px;
    padding: 4px 0;
    margin-top: 100px; }
    #invite-page #header #header-title {
      font-size: 32px;
      color: #63d769; }
  #invite-page #content {
    margin-top: 150px;
    font-size: 40px;
    color: #1796cb;
    padding-bottom: 20%; }
    #invite-page #content #subject {
      font-size: 12px;
      font-weight: normal;
      color: #999999;
      text-align: left;
      width: 510px;
      margin: 50px auto; }
    #invite-page #content > label {
      font-size: 14px;
      font-weight: normal;
      color: #47acd6;
      text-aling: center;
      margin-bottom: 25px; }
    #invite-page #content #helper {
      bottom: 10px;
      text-align: center;
      width: 99%;
      margin-top: 35px;
      font-size: 16px;
      color: #999999; }

#authorisation_panel {
  position: absolute;
  border: 1px solid #d7f1fc;
  width: 425px;
  height: 172px;
  background: white;
  color: #0d7aa7;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  text-align: center;
  background-color: white;
  z-index: 100;
  smargin-top: -100px; }
  #authorisation_panel #authorisation_panel_close {
    width: auto;
    height: auto;
    position: absolute;
    right: 15px;
    top: 5px;
    font-size: 13px;
    cursor: pointer; }
    #authorisation_panel #authorisation_panel_close #authorisation_panel_close_123 {
      font-family: cursive;
      font-size: 12px;
      font-weight: bold; }
  #authorisation_panel #auth_title {
    cursor: default;
    width: 100%;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 55px;
    font: 12px Arial;
    font-weight: bold; }
  #authorisation_panel .div_auth_button {
    float: left;
    font: 12px Arial;
    margin: 25px 0px 0px 0px;
    width: 85px;
    height: 85px; }

.auth_button {
  width: 54 px;
  height: 54 px;
  border: none;
  background: none;
  padding: 0px;
  background-repeat: no-repeat; }

.pic_auth {
  width: 54 px;
  height: 54 px; }

.b_name {
  color: #1a1a1a;
  font-size: 12px; }

#profile {
  width: 500px;
  margin: 0 auto; }
  #profile .profile_note_title {
    font-weight: bolder;
    font-family: Verdana;
    font-size: 14px;
    color: gray; }
  #profile hr {
    margin-top: 6px;
    margin-bottom: 6px;
    border-style: none;
    background-color: white;
    height: 1px; }
  #profile .editor {
    border: solid 1px #04dddd;
    border-radius: 5px;
    width: 100%;
    height: 25px;
    outline: none;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 6px; }
  #profile #plus_seven {
    font-size: 13px;
    font-family: arial;
    position: absolute;
    margin-top: 10px;
    margin-left: 5px; }
  #profile #telephone_number {
    padding-left: 22px; }
  #profile .bad_fill_field {
    border: solid 1px red; }
  #profile .info {
    font-size: 13px;
    color: gray;
    margin-left: 6px; }
  #profile button.btn {
    width: 140px;
    cursor: pointer; }
  #profile #button_panel {
    margin: 20px auto;
    width: 147px; }
  #profile > #profile_main_note {
    position: relative; }
    #profile > #profile_main_note #UserPhotoToUpload {
      position: absolute;
      top: -200px; }
    #profile > #profile_main_note #update_photo {
      position: absolute;
      cursor: default;
      border: none;
      background: none; }
      #profile > #profile_main_note #update_photo > span {
        cursor: pointer;
        float: right;
        text-decoration: normal;
        color: #0d7aa7;
        font-weight: bolder;
        font-size: 14px; }
    #profile > #profile_main_note .default-photo {
      margin-top: 180px;
      margin-left: 160px; }
    #profile > #profile_main_note .no-default-photo {
      right: 0px; }
  #profile > #profile_data > #main_line > input {
    border: none;
    background: none;
    text-decoration: underline;
    cursor: pointer; }
  #profile > #profile_data > hr {
    width: 100%; }

.btn-green, .btn-blue {
  margin: 0 2px !important;
  background: none !important;
  border-radius: 5px !important;
  padding: 0px !important;
  height: 25px !important;
  cursor: pointer !important;
  border: solid 2px #8cd9db !important;
  position: relative !important; }
  .btn-green *, .btn-blue * {
    cursor: pointer; }
  .btn-green .background, .btn-blue .background {
    position: absolute;
    width: 100%;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 3px 3px 5px 5px;
    top: 0px;
    right: 0px; }
    .btn-green .background label, .btn-blue .background label {
      font-size: 14px;
      position: absolute;
      text-align: center;
      top: 2px;
      right: 0px;
      width: inherit; }

.btn-green {
  background-color: #00bf02 !important; }

.btn-blue {
  background-color: #59bfea !important; }

.disabled {
  background-color: #d5d5d5 !important; }

#shadow {
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 90; }

.combo > div > input[type=button] {
  color: #04dddd;
  font-size: 15px;
  outline: none !important; }
.combo > .list {
  max-width: 498px;
  border-color: #04dddd; }

#widgets {
  margin: 0 auto;
  margin-top: 35px;
  top: 0;
  width: 640px;
  height: 300px; }
  #widgets div {
    float: right;
    margin-left: 10px;
    margin-right: 10px; }

#complete {
  width: 650px;
  margin: 0 auto; }
  #complete #arigoto {
    font-size: 28px;
    font-weight: bolder;
    color: #1796cb;
    text-align: center; }
  #complete #info, #complete #subject {
    font-size: 14px;
    text-align: center;
    color: #1796cb; }
  #complete #subject {
    margin-top: 45px; }
