#login {
  border: none;
  background: none;
  background-color: #f6f4e5;
  width: 425px;
  height: 67px;
  border-radius: 12px;
  cursor: pointer;
  margin-top: 25px;
  text-decoration: none;
  text-align: center; }
  #login > div {
    position: relative;
    margin: 1px;
    background-color: #fd981c;
    border: solid 1px #1a1a1a;
    border-radius: 10px;
    padding: 12px 0;
    cursor: inherit; }
    #login > div label {
      font-size: 24px;
      font-weight: bolder;
      color: #333333;
      position: relative;
      z-index: 2;
      cursor: inherit; }
    #login > div #top-blind {
      background-color: white;
      position: absolute;
      height: 25px;
      width: 100%;
      top: 0px;
      border-radius: 10px;
      opacity: 0.25;
      z-index: 1;
      cursor: inherit; }
    #login > div #bottom-blind {
      position: absolute;
      height: 15px;
      bottom: 0;
      background-image: url("/static/img/invite_btn.png");
      width: 100%;
      border-radius: 0 0 10px 10px;
      z-index: 1;
      cursor: inherit; }
