

.message-bar
	$border-width: 2px
	position: fixed
	width: inherit
	min-height: 30px
	background-color: rgba(250, 250, 250, 0.95)
	border: solid #eee $border-width
	border-top-style: none
	border-radius: 0 0 10px 10px
	margin-left: -$border-width
	text-align: center
	font-size: 20px
	font-family: Arial
	padding-top: 10px
	z-index: 101
	min-width: 320px
	max-width: 500px

.mb-hide
	top: -4500px
	display: none