#my_bill {
  padding-top: 5px;
  font: 12px Arial;
  display: table;
  padding-left: 10px;
  padding-right: 10px;
  color: gray; }

.header {
  margin-top: 10px;
  font-size: 13px;
  color: #0d7aa7;
  font-weight: bold; }

.interactive {
  color: #0d7aa7;
  font-size: 13px;
  text-decoration: none; }

.tags {
  padding-left: 10px;
  font-size: 22px;
  font-family: Forte;
  color: #0d7aa7; }
  .tags span {
    font-family: inherit; }

#balance {
  heigth: 80px;
  background-image: url(/static/img/money.png);
  background-repeat: no-repeat;
  padding-top: 10px;
  padding-left: 50px;
  margin: 5px 10px 0px 10px;
  height: 40px; }

#div_hearts {
  width: 210px;
  margin: 5px 10px 0px 10px;
  background-image: url(/static/img/love.png);
  background-repeat: no-repeat;
  height: 40px;
  width: 150px;
  padding-top: 10px;
  padding-left: 50px;
  display: inline-block; }

#rest {
  width: 100%;
  margin: 5px 10px 0px 10px;
  background-image: url(/static/img/money.png);
  background-repeat: no-repeat;
  height: 40px;
  padding-top: 10px;
  padding-left: 50px; }

#rest_global {
  margin-top: 8px; }

#text {
  padding-left: 15px;
  padding-right: 10px; }

#postwords {
  padding-right: 5px;
  padding-left: 15px;
  font-size: 10px;
  margin: 40px 0px 0px 0px; }

#sum {
  margin-top: 15px; }
  #sum input {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    width: 100%;
    Height: 28px;
    font-size: 17px;
    border: 1px solid #8ed4d6;
    margin-bottom: 9px; }

#buttons {
  width: 310px;
  margin: 0 auto;
  margin-top: 15px; }
  #buttons button {
    width: 140px;
    height: 32px;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer; }

#captcha_form {
  width: 240px;
  margin: 0 auto; }
  #captcha_form #captcha {
    position: absolute;
    width: 80;
    height: 25; }
  #captcha_form #answer_by_capthca {
    font-size: 17px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    width: 120px;
    height: 25px;
    margin: 0px 85px;
    border: 1px solid #8ed4d6; }

#hr_close {
  margin-top: 30px;
  border: none;
  border-top: 1px solid #8ed4d6; }

#hr_open {
  margin-bottom: 5px;
  border: none;
  border-top: 1px solid #8ed4d6; }
