#my_rates {
  padding: 2px;
  text-align: center;
  font-family: Arial;
  font-weight: bold;
  color: #aaaaaa;
  min-height: 400px;
  background-image: url("/static/img/heart_bg.jpg");
  background-position: center;
  background-repeat: no-repeat; }

.my_rate {
  position: relative;
  display: inline-block;
  margin: 5px; }
  .my_rate #my-rate-info {
    position: absolute;
    bottom: 10px;
    left: 15px; }
    .my_rate #my-rate-info #background-light {
      width: 120px;
      height: 20px;
      border-radius: 4px;
      background-color: rgba(255, 255, 255, 0.5); }
    .my_rate #my-rate-info #last_rate_type {
      width: 35px;
      height: 35px;
      position: absolute;
      bottom: -7px;
      left: -7px;
      background-size: 100%; }
    .my_rate #my-rate-info #max_rate_value {
      text-align: center;
      color: white;
      text-shadow: 1px 1px #545454;
      font-family: Arial;
      font-sie: 16px; }
  .my_rate .love #last_rate_type {
    background-image: url("/static/img/love.png"); }
  .my_rate .money #last_rate_type {
    background-image: url("/static/img/money.png"); }
  .my_rate .money #max_rate_value {
    color: #fffc00 !important; }
  .my_rate .up_value #last_rate_type {
    background-image: url("/static/img/up_rate.png"); }
  .my_rate .money_win #last_rate_type {
    background-image: url("/static/img/money.png"); }
  .my_rate .money_win #max_rate_value {
    color: #fffc00 !important; }
  .my_rate .love_win #last_rate_type {
    background-image: url("/static/img/love.png"); }
  .my_rate .love_win #max_rate_value {
    color: #ff5555 !important; }
  .my_rate * {
    cursor: pointer; }
