
#my_rates
	padding: 2px
	text-align: center
	font-family: Arial
	font-weight: bold
	color: #AAA
	min-height: 400px
	background:
		image: url('/static/img/heart_bg.jpg')
		position: center
		repeat: no-repeat

.my_rate
	position: relative
	display: inline-block
	margin: 5px

	#my-rate-info
		position: absolute
		bottom: 10px
		left: 15px

		#background-light
			width: 120px
			height: 20px
			border-radius: 4px
			background-color: rgba(255, 255, 255, 0.5)

		#last_rate_type
			width: 35px
			height: 35px
			position: absolute
			bottom: -7px
			left: -7px
			background-size: 100%

		#max_rate_value
			text-align: center
			color: white
			text-shadow: 1px 1px #545454
			font-family: Arial
			font-sie: 16px

	.love #last_rate_type
		background-image: url('/static/img/love.png')

	.money
		#last_rate_type
			background-image: url('/static/img/money.png')
		#max_rate_value
			color: #fffc00 !important

	.up_value #last_rate_type
		background-image: url('/static/img/up_rate.png')

	.money_win
		#last_rate_type
			background-image: url('/static/img/money.png')

		#max_rate_value
			color: #fffc00 !important

	.love_win
		#last_rate_type
			background-image: url('/static/img/love.png')

		#max_rate_value
			color: #f55 !important

	*
		cursor: pointer

