
#control
	position: absolute
	z-index: 3
	bottom: 3px
	right: 5px
	//width: 100%
	width: auto

	#navi_panel
		display: inline-block
		//position: absolute
		//right: 5px

		button
			border: none
			background: none
			text-decoration: none
			cursor: pointer
			margin: 0px
			margin-left: -4px
			padding-left: 10px
			height: 18px
			font-family: Arial
			font-size: 13px
			font-weight: bold
			color: white
			border-right: solid 1px #0D7AA7
			border-left: solid 1.5px #47ACD6
			height: 26px

			&:first-child
				border-left: none
				cursor: default
				color: transparent
				&:hover
					background: none !important
			&:last-child
				border-right: none

			&:hover
				background-image: url("/static/img/main-panel/select.png")
				background-repeat: repeat-x
				background-position: 0 18px

		.select
			background-image: url("/static/img/main-panel/select.png")
			background-repeat: repeat-x
			background-position: 0 12px


#user_panel
	min-width: 320px
	max-width: 500px
	width: 100%
	height: 56px
	position: fixed
	top: 0px
	z-index: 2
	border-radius: 5px
	-moz-border-radius: 5px

	#lot-place
		position: absolute
		display: none
		color: white
		font-family: Arial
		font-weight: bold
		font-size: 12px
		top: 35px
		overflow: hidden

		> span
			margin-left: 5px

	#left-side, #right-side, #center-side
		position: absolute

	#left-side, #right-side
		width: 10px
		height: 100%
		height: 54px
		background-repeat: no-repeat
		z-index: 2
	#left-side
		left: 0px
		background-image: url("/static/img/main-panel/left.png")
	#right-side
		background-image: url("/static/img/main-panel/right.png")
		right: 0px
	#center-side
		z-index: 0
		height: 54px
		width: 100% //Спасибо FF за это
		left: 0 //и это
		//padding-left: 8px
		//padding-right: 8px
		> div
			height: 100%
			margin: 0 8px
			//width: 100%
			max-width: 484px
			min-width: 302px
			background-image: url("/static/img/main-panel/center.png")
			background-repeat: repeat-x


	> *
		display: inline

	> #title
		font-family: Forte
		font-size: 24px
		position: absolute
		top: 0px
		left: 5px
		z-index: 3
		color: white
		text-shadow: -1px -1px #1796cb
		background-image: url(/static/img/love.png)
		background-repeat: no-repeat
		background-size: auto 29px
		background-position-y: 2px
		padding-left: 30px

		color: white
		text-decoration: none
		cursor: pointer

	.text
		color: white
		font-family: Arial
		font-size: 12px
		font-weight: bold
		position: absolute
		right: 17px
		bottom: 6px
		cursor: default

	#login_background
		position: absolute
		top: 5px
		right: 17px
		height: 28px
		width: 106px
		background-color: #0d7aa7
		background-image: url("/static/img/main-panel/button_login.png")
		background-position: bottom
		background-size: 100%
		background-repeat: no-repeat
		border-radius: 5px
	#login
		cursor: pointer
		position: absolute
		z-index: 100
		background-color: #fd981c
		border: 1px #333333 solid
		width: 100px !important
		height: 22px !important
		top: 3px
		right: 3px
		border-radius: 4px

		.yellow_button_background
			cursor: pointer
			border-radius: 5px
			width: 100%
			height: 11px
			background-color: rgba(255, 255, 255, 0.45)
			position: absolute
			top: 0px
			right: 0px
			label
				color: black
				font-family: Arial
				font-size: 13px
				cursor: pointer
				text-align: center
				position: absolute
				top: 2px
				right: 0px
				width: inherit

	> .yellow_button
		font-family: Arial
		font-size: 13px
		cursor: pointer
		position: absolute
		z-index: 100
		right: 10px
		background-color: orange
		border: 1px #1796cb solid
		width: 82px
		height: 17px
		top: 5px
		border-radius: 5px
		color: black
		.yellow_button_background
			cursor: pointer
			border-radius: 5px
			width: inherit
			height: 9px
			background-color: rgba(255, 255, 255, 0.4)
			position: absolute
			top: 0px
			label
				cursor: pointer
				text-align: center
				position: absolute
				top: 1px
				width: inherit


	&:hover
		opacity: 1 !important


#lot-place
	top: 32px !important
	left: 4px !important

//	input
//		font-size: 12px
//		padding-right: 20px
//		background: none
//		border: none
//		width: 160px
//		outline: none
//		height: 17px
//		color: white
		
//	button
//		background: none
//		border: none
//		position: absolute
//		right: 1px
//		padding: 0
//		margin-top: 0
//		color: white

//	.ui-autocomplete
//		position: absolute
//		color: white
//		overflow-x: hidden
//		overflow-y: auto
//		width: 150px
//		max-height: 300px
//		list-style: none
//		padding-left: 1px
//		margin-top: 17px
//		background-color: #2896be
//		border: none
//		border-top: none

//		a
//			width: 100%
//			cursor: pointer

//			strong
//				background-color: #eee

.ui-state-hover
	background-color: #3fb2df

	