#control {
  position: absolute;
  z-index: 3;
  bottom: 3px;
  right: 5px;
  width: auto; }
  #control #navi_panel {
    display: inline-block; }
    #control #navi_panel button {
      border: none;
      background: none;
      text-decoration: none;
      cursor: pointer;
      margin: 0px;
      margin-left: -4px;
      padding-left: 10px;
      height: 18px;
      font-family: Arial;
      font-size: 13px;
      font-weight: bold;
      color: white;
      border-right: solid 1px #0d7aa7;
      border-left: solid 1.5px #47acd6;
      height: 26px; }
      #control #navi_panel button:first-child {
        border-left: none;
        cursor: default;
        color: transparent; }
        #control #navi_panel button:first-child:hover {
          background: none !important; }
      #control #navi_panel button:last-child {
        border-right: none; }
      #control #navi_panel button:hover {
        background-image: url("/static/img/main-panel/select.png");
        background-repeat: repeat-x;
        background-position: 0 18px; }
    #control #navi_panel .select {
      background-image: url("/static/img/main-panel/select.png");
      background-repeat: repeat-x;
      background-position: 0 12px; }

#user_panel {
  min-width: 320px;
  max-width: 500px;
  width: 100%;
  height: 56px;
  position: fixed;
  top: 0px;
  z-index: 2;
  border-radius: 5px;
  -moz-border-radius: 5px; }
  #user_panel #lot-place {
    position: absolute;
    display: none;
    color: white;
    font-family: Arial;
    font-weight: bold;
    font-size: 12px;
    top: 35px;
    overflow: hidden; }
    #user_panel #lot-place > span {
      margin-left: 5px; }
  #user_panel #left-side, #user_panel #right-side, #user_panel #center-side {
    position: absolute; }
  #user_panel #left-side, #user_panel #right-side {
    width: 10px;
    height: 100%;
    height: 54px;
    background-repeat: no-repeat;
    z-index: 2; }
  #user_panel #left-side {
    left: 0px;
    background-image: url("/static/img/main-panel/left.png"); }
  #user_panel #right-side {
    background-image: url("/static/img/main-panel/right.png");
    right: 0px; }
  #user_panel #center-side {
    z-index: 0;
    height: 54px;
    width: 100%;
    left: 0; }
    #user_panel #center-side > div {
      height: 100%;
      margin: 0 8px;
      max-width: 484px;
      min-width: 302px;
      background-image: url("/static/img/main-panel/center.png");
      background-repeat: repeat-x; }
  #user_panel > * {
    display: inline; }
  #user_panel > #title {
    font-family: Forte;
    font-size: 24px;
    position: absolute;
    top: 0px;
    left: 5px;
    z-index: 3;
    color: white;
    text-shadow: -1px -1px #1796cb;
    background-image: url(/static/img/love.png);
    background-repeat: no-repeat;
    background-size: auto 29px;
    background-position-y: 2px;
    padding-left: 30px;
    color: white;
    text-decoration: none;
    cursor: pointer; }
  #user_panel .text {
    color: white;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    right: 17px;
    bottom: 6px;
    cursor: default; }
  #user_panel #login_background {
    position: absolute;
    top: 5px;
    right: 17px;
    height: 28px;
    width: 106px;
    background-color: #0d7aa7;
    background-image: url("/static/img/main-panel/button_login.png");
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 5px; }
  #user_panel #login {
    cursor: pointer;
    position: absolute;
    z-index: 100;
    background-color: #fd981c;
    border: 1px #333333 solid;
    width: 100px !important;
    height: 22px !important;
    top: 3px;
    right: 3px;
    border-radius: 4px; }
    #user_panel #login .yellow_button_background {
      cursor: pointer;
      border-radius: 5px;
      width: 100%;
      height: 11px;
      background-color: rgba(255, 255, 255, 0.45);
      position: absolute;
      top: 0px;
      right: 0px; }
      #user_panel #login .yellow_button_background label {
        color: black;
        font-family: Arial;
        font-size: 13px;
        cursor: pointer;
        text-align: center;
        position: absolute;
        top: 2px;
        right: 0px;
        width: inherit; }
  #user_panel > .yellow_button {
    font-family: Arial;
    font-size: 13px;
    cursor: pointer;
    position: absolute;
    z-index: 100;
    right: 10px;
    background-color: orange;
    border: 1px #1796cb solid;
    width: 82px;
    height: 17px;
    top: 5px;
    border-radius: 5px;
    color: black; }
    #user_panel > .yellow_button .yellow_button_background {
      cursor: pointer;
      border-radius: 5px;
      width: inherit;
      height: 9px;
      background-color: rgba(255, 255, 255, 0.4);
      position: absolute;
      top: 0px; }
      #user_panel > .yellow_button .yellow_button_background label {
        cursor: pointer;
        text-align: center;
        position: absolute;
        top: 1px;
        width: inherit; }
  #user_panel:hover {
    opacity: 1 !important; }

#lot-place {
  top: 32px !important;
  left: 4px !important; }

.ui-state-hover {
  background-color: #3fb2df; }
