@mixin main_inputs
	border: none
	background: none
	text-decoration: underline
	cursor: pointer

@mixin global-style-by-user-note-top
	//width: inherit
	position: relative
	width: 98%
	margin-left: 1%
	padding-top: 4px

	> img
		width: 100%
		min-height: auto
		border: none

	> #description
		width: 100%
		position: absolute
		height: 58px
		bottom: 0px
		background-color: rgba(255, 255, 255, 0.9)

		> #about_me-duplicate
			font-family: Arial
			width: 460px !important
			margin: 3px 30px 5px 20px
			height: inherit

@mixin time-left
	#time-left
		position: absolute
		right: 8px
		margin-top: 3px
		font: bolder 13px Arial
		z-index: 0



.lot-view
	$border: 4px
	$radius-inner: 3px
	$radius-outer: $radius-inner + $border / $radius-inner
	$rate-size: 48px
	$rate-padding: 1px
	$rate-space-hor: 2px
	$rate-space-ver: 0

	#lot-state
		position: relative

		@include time-left

		#back
			background: none
			border: none
			text-decoration: underline
			color: #808080
			cursor: pointer

	.user-info
		position: relative

		> #user-about
			@include global-style-by-user-note-top

			#username
				//background-color: rgba(255, 255, 255, 0.9)
				width: 100%
				text-align: right
				margin: 0
				position: absolute
				text-align: left
				padding: 5px 10px
				//padding: 5px
				> span
					color: white
					text-shadow: 0 0 5px #808080
					font-weight: bold

			#about_me
				margin-top: 5px !important

			#prev_page
				position: absolute
				background: none
				width: 40px
				height: 100%
				left: 0px
				top: 0px
				cursor: pointer

				table
					display: none
					height: inherit
					text-align: center
					width: 100%
					td
						color: #a0a0a0

				&:hover
					background-color: rgba(255, 255, 255, 0.3)

				&:hover table
					display: table

			#next_page
				position: absolute
				background: none
				width: 40px
				height: 100%
				right: 0px
				top: 0px
				cursor: pointer

				table
					display: none
					height: inherit
					text-align: center
					width: 100%
					td
						color: #a0a0a0

				&:hover
					background-color: rgba(255, 255, 255, 0.3)

				&:hover table
					display: table

		> #rate-select
			position: absolute
			left: 50%
			bottom: 25%
			padding: 10px
			display: none
			background-color: rgba(150, 150, 150, 0.5)
			border-radius: $radius-outer
			padding: $border
			margin-left: -76px

			> div
				background-color: rgba(200, 200, 200, 0.6)
				border-radius: $radius-inner
				padding: $rate-padding

				> div
					width: $rate-size
					height: $rate-size
					background-position: 0px
					display: inline-block
					margin: $rate-space-ver $rate-space-hor
					opacity: 0.8

					&:hover
						background-position: -48px 0
						opacity: 1

				> #love
					background-image: url("/static/img/love-rate.png")
				> #money
					background-image: url("/static/img/money-rate.png")

				>#vs > label
					position: absolute
					font-size: 40px
					

		&:hover > #rate-select
			display: block

	.rates
		#title
			background-image: url('/static/img/gender-filter-bg.png')
			height: 42px
			color: white
			>div
				padding-top: 11px
				display: table
				margin: 0 auto

@mixin adv_page
	position: absolute
	top: 0px
	height: inherit
	width: 0px

.right_page
	@include adv_page
	right: 0px

.left_page
	@include adv_page
	left: 0px


$white-blue-color: #51bae6
$white-dark-blue-color: #067cad
$gray-color: #e5e5e5

#profile
	width: 100%
	position: relative

	#top
		background-color: rgba(255, 255, 255, 0.9)
		height: 20px
		padding: 5px 10px
		position: absolute
		width: 455px
		cursor: default

	#first_name-duplicate
		color: black
		font-weight: bold
		margin: 5px 10px 0

	#about_me
		resize: none
		height: 58px !important

	#logout
		float: right
		border: none
		background: none
		font-family: Arial
		font-size: 12px
		color: #0d7aa7
		cursor: pointer

	.profile_note_title
		font-weight: bolder
		font-family: arial
		font-size: 13px

	hr
		margin-top: 6px
		margin-bottom: 6px
		border-style: none
		background-color: white
		height: 1px

	.editor
		border: solid 1px $white-blue-color
		border-radius: 5px
		width: 100%
		height: 25px
		outline: none
		margin-bottom: 5px
		margin-top: 5px

	#plus_seven
		font-size: 13px
		font-family: arial
		position: absolute
		margin-top: 10px
		margin-left: 5px

	#telephone_number
		padding-left: 22px


	.bad_fill_field
		border: solid 1px red


	.info
		font-size: 13px
		color: #808080
		margin-left: 6px





	$button_pannel_button_width: 140px
	button.btn
		width: $button_pannel_button_width
		cursor: pointer

	#button_panel
		margin: 20px auto
		width: 294px

	> #profile_main_note
		@include global-style-by-user-note-top

		#UserPhotoToUpload
			width: 133px
			height: 18px
			opacity: 0
			position: absolute
			right: 0
			z-index: 100
			color: white

			&:hover
				cursor: pointer

	> #profile_data
		> #main_line
			> input
				@include main_inputs
		> hr
			width: 100%



	#update_photo
		width: 100%
		//text-align: right
		margin: 0
		cursor: default

		> span
			cursor: pointer
			float: right
			text-decoration: underline

	#auctonmeter-note
		table
			width: 80%
			margin: 0 auto

		#to_self-block
			font-size: 14px
		#to_children-block
			text-align: right
			font-size: 14px

		#auctionmeter-panel
			width: 60%

		#auctionmeter
			display: block !important
			position: relative
			height: 4px
			width: 100%
			border: solid 1px $white-dark-blue-color
			background-color: $white-blue-color
			-moz-border-radius: 3px
			-webkit-border-radius: 3px

			> a
				width: 4px
				height: 16px
				margin-top: -8px
				position: absolute
				border: solid 1px $white-dark-blue-color
				background-color: $white-blue-color
				-moz-border-radius: 1px
				-webkit-border-radius: 1px

	#finish_rate
		#date_selectors
			margin: 0 auto
			display: table
			font-size: 14px

			select
				width: auto

	@include time-left

	#rates
		margin-top: 0
		#title
			background-image: url('/static/img/gender-filter-bg.png')
			height: 42px
			color: white
			>div
				padding-top: 11px
				display: table
				margin: 0 auto

.profile_note
	width: auto
	min-height: 20px
	margin: 0 8px

	> .editor
		display: block



.profile_note_edit
	right: 0px
	position: absolute
	@include main_inputs

#confirm-select-content
	position: absolute
	width: 392px
	height: 106px
	background-color: white
	border: solid #2FA1CF 2px
	border-radius: 6px
	padding: 4px
	z-index: 1

	#title
		width: 100%
		text-align: center
		font-size: 13px
		font-family: Arial
		margin-top: 20px
		margin-bottom: 15px

	#buttons
		width: 100%
		button
			border: 2px solid #e5e5e5
			position: inline-block
			width: 40%
			.background
				label
					top: 4px
		#confirm
			margin-right: 15%
		#unconfirm
			margin-right: 10%

.ac_results
	padding: 0px
	border: 1px solid WindowFrame
	background-color: white
	overflow: hidden
	z-index: 99999

.ac_results ul
	width: 100%
	list-style-position: outside
	list-style: none
	padding: 0
	margin: 0

.ac_results iframe
	display: none
	display: block
	position: absolute
	top: 0px
	left: 0px1
	z-index: 9999
	filter: mask()
	width: 3000px
	height: 3000px


.ac_results li
	position: relative
	margin: 0px
	padding: 2px 5px
	display: block
	width: 100%
	font: menu
	font-size: 12px
	overflow: hidden
	cursor: default
	line-height: 16px

.ac_odd
	background-color: #eee

.ac_over
	color: white
	background-color: #0A246A


.btn-green, .btn-blue
	margin: 0 2px !important
	background: none !important
	border-radius: 5px !important
	padding: 0px !important
	height: 25px !important
	cursor: pointer !important
	border: solid 2px #8cd9db !important
	position: relative !important

	& *
		cursor: pointer

	.background
		position: absolute
		width: 100%
		height: 12px
		background-color: rgba(255, 255, 255, 0.4)
		border-radius: 3px 3px 5px 5px
		top: 0px
		right: 0px
		label
			font-size: 14px
			position: absolute
			text-align: center
			top: 2px
			right: 0px
			width: inherit

.btn-green
	background-color: #00bf02 !important
.btn-blue
	background-color: #59bfea !important

.disabled
	background-color: #d5d5d5 !important

#I_confirm
	font-size: 12px
	.interactive
		font-size: 13px
		font-weight: bold