.lot-view #lot-state {
  position: relative; }
  .lot-view #lot-state #time-left {
    position: absolute;
    right: 8px;
    margin-top: 3px;
    font: bolder 13px Arial;
    z-index: 0; }
  .lot-view #lot-state #back {
    background: none;
    border: none;
    text-decoration: underline;
    color: gray;
    cursor: pointer; }
.lot-view .user-info {
  position: relative; }
  .lot-view .user-info > #user-about {
    position: relative;
    width: 98%;
    margin-left: 1%;
    padding-top: 4px; }
    .lot-view .user-info > #user-about > img {
      width: 100%;
      min-height: auto;
      border: none; }
    .lot-view .user-info > #user-about > #description {
      width: 100%;
      position: absolute;
      height: 58px;
      bottom: 0px;
      background-color: rgba(255, 255, 255, 0.9); }
      .lot-view .user-info > #user-about > #description > #about_me-duplicate {
        font-family: Arial;
        width: 460px !important;
        margin: 3px 30px 5px 20px;
        height: inherit; }
    .lot-view .user-info > #user-about #username {
      width: 100%;
      text-align: right;
      margin: 0;
      position: absolute;
      text-align: left;
      padding: 5px 10px; }
      .lot-view .user-info > #user-about #username > span {
        color: white;
        text-shadow: 0 0 5px gray;
        font-weight: bold; }
    .lot-view .user-info > #user-about #about_me {
      margin-top: 5px !important; }
    .lot-view .user-info > #user-about #prev_page {
      position: absolute;
      background: none;
      width: 40px;
      height: 100%;
      left: 0px;
      top: 0px;
      cursor: pointer; }
      .lot-view .user-info > #user-about #prev_page table {
        display: none;
        height: inherit;
        text-align: center;
        width: 100%; }
        .lot-view .user-info > #user-about #prev_page table td {
          color: #a0a0a0; }
      .lot-view .user-info > #user-about #prev_page:hover {
        background-color: rgba(255, 255, 255, 0.3); }
      .lot-view .user-info > #user-about #prev_page:hover table {
        display: table; }
    .lot-view .user-info > #user-about #next_page {
      position: absolute;
      background: none;
      width: 40px;
      height: 100%;
      right: 0px;
      top: 0px;
      cursor: pointer; }
      .lot-view .user-info > #user-about #next_page table {
        display: none;
        height: inherit;
        text-align: center;
        width: 100%; }
        .lot-view .user-info > #user-about #next_page table td {
          color: #a0a0a0; }
      .lot-view .user-info > #user-about #next_page:hover {
        background-color: rgba(255, 255, 255, 0.3); }
      .lot-view .user-info > #user-about #next_page:hover table {
        display: table; }
  .lot-view .user-info > #rate-select {
    position: absolute;
    left: 50%;
    bottom: 25%;
    padding: 10px;
    display: none;
    background-color: rgba(150, 150, 150, 0.5);
    border-radius: 4.333px;
    padding: 4px;
    margin-left: -76px; }
    .lot-view .user-info > #rate-select > div {
      background-color: rgba(200, 200, 200, 0.6);
      border-radius: 3px;
      padding: 1px; }
      .lot-view .user-info > #rate-select > div > div {
        width: 48px;
        height: 48px;
        background-position: 0px;
        display: inline-block;
        margin: 0 2px;
        opacity: 0.8; }
        .lot-view .user-info > #rate-select > div > div:hover {
          background-position: -48px 0;
          opacity: 1; }
      .lot-view .user-info > #rate-select > div > #love {
        background-image: url("/static/img/love-rate.png"); }
      .lot-view .user-info > #rate-select > div > #money {
        background-image: url("/static/img/money-rate.png"); }
      .lot-view .user-info > #rate-select > div > #vs > label {
        position: absolute;
        font-size: 40px; }
  .lot-view .user-info:hover > #rate-select {
    display: block; }
.lot-view .rates #title {
  background-image: url("/static/img/gender-filter-bg.png");
  height: 42px;
  color: white; }
  .lot-view .rates #title > div {
    padding-top: 11px;
    display: table;
    margin: 0 auto; }

.right_page {
  position: absolute;
  top: 0px;
  height: inherit;
  width: 0px;
  right: 0px; }

.left_page {
  position: absolute;
  top: 0px;
  height: inherit;
  width: 0px;
  left: 0px; }

#profile {
  width: 100%;
  position: relative; }
  #profile #top {
    background-color: rgba(255, 255, 255, 0.9);
    height: 20px;
    padding: 5px 10px;
    position: absolute;
    width: 455px;
    cursor: default; }
  #profile #first_name-duplicate {
    color: black;
    font-weight: bold;
    margin: 5px 10px 0; }
  #profile #about_me {
    resize: none;
    height: 58px !important; }
  #profile #logout {
    float: right;
    border: none;
    background: none;
    font-family: Arial;
    font-size: 12px;
    color: #0d7aa7;
    cursor: pointer; }
  #profile .profile_note_title {
    font-weight: bolder;
    font-family: arial;
    font-size: 13px; }
  #profile hr {
    margin-top: 6px;
    margin-bottom: 6px;
    border-style: none;
    background-color: white;
    height: 1px; }
  #profile .editor {
    border: solid 1px #51bae6;
    border-radius: 5px;
    width: 100%;
    height: 25px;
    outline: none;
    margin-bottom: 5px;
    margin-top: 5px; }
  #profile #plus_seven {
    font-size: 13px;
    font-family: arial;
    position: absolute;
    margin-top: 10px;
    margin-left: 5px; }
  #profile #telephone_number {
    padding-left: 22px; }
  #profile .bad_fill_field {
    border: solid 1px red; }
  #profile .info {
    font-size: 13px;
    color: gray;
    margin-left: 6px; }
  #profile button.btn {
    width: 140px;
    cursor: pointer; }
  #profile #button_panel {
    margin: 20px auto;
    width: 294px; }
  #profile > #profile_main_note {
    position: relative;
    width: 98%;
    margin-left: 1%;
    padding-top: 4px; }
    #profile > #profile_main_note > img {
      width: 100%;
      min-height: auto;
      border: none; }
    #profile > #profile_main_note > #description {
      width: 100%;
      position: absolute;
      height: 58px;
      bottom: 0px;
      background-color: rgba(255, 255, 255, 0.9); }
      #profile > #profile_main_note > #description > #about_me-duplicate {
        font-family: Arial;
        width: 460px !important;
        margin: 3px 30px 5px 20px;
        height: inherit; }
    #profile > #profile_main_note #UserPhotoToUpload {
      width: 133px;
      height: 18px;
      opacity: 0;
      position: absolute;
      right: 0;
      z-index: 100;
      color: white; }
      #profile > #profile_main_note #UserPhotoToUpload:hover {
        cursor: pointer; }
  #profile > #profile_data > #main_line > input {
    border: none;
    background: none;
    text-decoration: underline;
    cursor: pointer; }
  #profile > #profile_data > hr {
    width: 100%; }
  #profile #update_photo {
    width: 100%;
    margin: 0;
    cursor: default; }
    #profile #update_photo > span {
      cursor: pointer;
      float: right;
      text-decoration: underline; }
  #profile #auctonmeter-note table {
    width: 80%;
    margin: 0 auto; }
  #profile #auctonmeter-note #to_self-block {
    font-size: 14px; }
  #profile #auctonmeter-note #to_children-block {
    text-align: right;
    font-size: 14px; }
  #profile #auctonmeter-note #auctionmeter-panel {
    width: 60%; }
  #profile #auctonmeter-note #auctionmeter {
    display: block !important;
    position: relative;
    height: 4px;
    width: 100%;
    border: solid 1px #067cad;
    background-color: #51bae6;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px; }
    #profile #auctonmeter-note #auctionmeter > a {
      width: 4px;
      height: 16px;
      margin-top: -8px;
      position: absolute;
      border: solid 1px #067cad;
      background-color: #51bae6;
      -moz-border-radius: 1px;
      -webkit-border-radius: 1px; }
  #profile #finish_rate #date_selectors {
    margin: 0 auto;
    display: table;
    font-size: 14px; }
    #profile #finish_rate #date_selectors select {
      width: auto; }
  #profile #time-left {
    position: absolute;
    right: 8px;
    margin-top: 3px;
    font: bolder 13px Arial;
    z-index: 0; }
  #profile #rates {
    margin-top: 0; }
    #profile #rates #title {
      background-image: url("/static/img/gender-filter-bg.png");
      height: 42px;
      color: white; }
      #profile #rates #title > div {
        padding-top: 11px;
        display: table;
        margin: 0 auto; }

.profile_note {
  width: auto;
  min-height: 20px;
  margin: 0 8px; }
  .profile_note > .editor {
    display: block; }

.profile_note_edit {
  right: 0px;
  position: absolute;
  border: none;
  background: none;
  text-decoration: underline;
  cursor: pointer; }

#confirm-select-content {
  position: absolute;
  width: 392px;
  height: 106px;
  background-color: white;
  border: solid #2fa1cf 2px;
  border-radius: 6px;
  padding: 4px;
  z-index: 1; }
  #confirm-select-content #title {
    width: 100%;
    text-align: center;
    font-size: 13px;
    font-family: Arial;
    margin-top: 20px;
    margin-bottom: 15px; }
  #confirm-select-content #buttons {
    width: 100%; }
    #confirm-select-content #buttons button {
      border: 2px solid #e5e5e5;
      position: inline-block;
      width: 40%; }
      #confirm-select-content #buttons button .background label {
        top: 4px; }
    #confirm-select-content #buttons #confirm {
      margin-right: 15%; }
    #confirm-select-content #buttons #unconfirm {
      margin-right: 10%; }

.ac_results {
  padding: 0px;
  border: 1px solid WindowFrame;
  background-color: white;
  overflow: hidden;
  z-index: 99999; }

.ac_results ul {
  width: 100%;
  list-style-position: outside;
  list-style: none;
  padding: 0;
  margin: 0; }

.ac_results iframe {
  display: none;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px 1;
  z-index: 9999;
  filter: mask();
  width: 3000px;
  height: 3000px; }

.ac_results li {
  position: relative;
  margin: 0px;
  padding: 2px 5px;
  display: block;
  width: 100%;
  font: menu;
  font-size: 12px;
  overflow: hidden;
  cursor: default;
  line-height: 16px; }

.ac_odd {
  background-color: #eeeeee; }

.ac_over {
  color: white;
  background-color: #0a246a; }

.btn-green, .btn-blue {
  margin: 0 2px !important;
  background: none !important;
  border-radius: 5px !important;
  padding: 0px !important;
  height: 25px !important;
  cursor: pointer !important;
  border: solid 2px #8cd9db !important;
  position: relative !important; }
  .btn-green *, .btn-blue * {
    cursor: pointer; }
  .btn-green .background, .btn-blue .background {
    position: absolute;
    width: 100%;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 3px 3px 5px 5px;
    top: 0px;
    right: 0px; }
    .btn-green .background label, .btn-blue .background label {
      font-size: 14px;
      position: absolute;
      text-align: center;
      top: 2px;
      right: 0px;
      width: inherit; }

.btn-green {
  background-color: #00bf02 !important; }

.btn-blue {
  background-color: #59bfea !important; }

.disabled {
  background-color: #d5d5d5 !important; }

#I_confirm {
  font-size: 12px; }
  #I_confirm .interactive {
    font-size: 13px;
    font-weight: bold; }
