$border-clor: #8cd9db
$background-color: #d7f1fc
$background-button-color: #47acd6

.rate_note
	$padding-top: 7px

	font-size: 13px
	font-family: arial
	position: relative
	background-color: white //#eee
	margin: 2px 0 2px 0
	min-height: 50px
	border-top: solid 1px $border-clor
	padding: 6px
	padding-top: $padding-top

	> .user_photo
		position: absolute
		width: 50px
		left: 0px
		top: 0px
		cursor: pointer

	> .rate_type
		position: absolute
		right: 0px
		top: 0px
		margin-right: 6px

	> .author_name
		cursor: pointer
		position: absolute
		font-weight: 900
		left: 55px
		margin-left: 6px
		cursor: pointer


	> .time_less
		font-size: 10px
		position: absolute
		right: 55px
		color: grey
		top: $padding-top

	> .comment
		position: static
		padding-left: 55px
		padding-top: 20px
		padding-right: 55px
		word-wrap: break-word

.select-rate-mode
	&:hover
		background-color: lightblue

.selected_rate
	background-color: #2FA1CF

	&:hover
		background-color: #2FA1CF

.rate-add-form
	height: 60px
	position: relative
	background-color: $background-color
	padding: 6px
	padding-bottom: 10px
	font-size: 13px
	font-family: arial

	#close
		position: absolute
		right: 2px
		top: 2px
		border: none
		background-color: $background-color
		font-family: Arial
		font-weight: 900
		color: white
		cursor: pointer

		&:hover
			color: $background-button-color

	img
		float: left

	label
		margin-left: 6px
		font-weight: bold

	#content
		margin-left: 56px
		margin-top: 3px
		#val
			height: 27px
			width: 245px
			font-family: Arial
			font-size: 15px
			border: solid 1px $border-clor

		#post
			width: 165px
			background-color: $background-button-color
			border: solid $border-clor 1px
			font-family: Arial
			font-size: 15px
			height: 27px
			cursor: pointer


.rate-form
	#post
		width: 155px


.love-form
	height: 150px
	#val
		resize: none
		height: 90px !important
		width: 410px !important
		margin-top: 0px

	#post
		width: auto !important
		height: 90px
		margin-top: 10px
		float: right
		margin-right: 5px

