.rate_note {
  font-size: 13px;
  font-family: arial;
  position: relative;
  background-color: white;
  margin: 2px 0 2px 0;
  min-height: 50px;
  border-top: solid 1px #8cd9db;
  padding: 6px;
  padding-top: 7px; }
  .rate_note > .user_photo {
    position: absolute;
    width: 50px;
    left: 0px;
    top: 0px;
    cursor: pointer; }
  .rate_note > .rate_type {
    position: absolute;
    right: 0px;
    top: 0px;
    margin-right: 6px; }
  .rate_note > .author_name {
    cursor: pointer;
    position: absolute;
    font-weight: 900;
    left: 55px;
    margin-left: 6px;
    cursor: pointer; }
  .rate_note > .time_less {
    font-size: 10px;
    position: absolute;
    right: 55px;
    color: grey;
    top: 7px; }
  .rate_note > .comment {
    position: static;
    padding-left: 55px;
    padding-top: 20px;
    padding-right: 55px;
    word-wrap: break-word; }

.select-rate-mode:hover {
  background-color: lightblue; }

.selected_rate {
  background-color: #2fa1cf; }
  .selected_rate:hover {
    background-color: #2fa1cf; }

.rate-add-form {
  height: 60px;
  position: relative;
  background-color: #d7f1fc;
  padding: 6px;
  padding-bottom: 10px;
  font-size: 13px;
  font-family: arial; }
  .rate-add-form #close {
    position: absolute;
    right: 2px;
    top: 2px;
    border: none;
    background-color: #d7f1fc;
    font-family: Arial;
    font-weight: 900;
    color: white;
    cursor: pointer; }
    .rate-add-form #close:hover {
      color: #47acd6; }
  .rate-add-form img {
    float: left; }
  .rate-add-form label {
    margin-left: 6px;
    font-weight: bold; }
  .rate-add-form #content {
    margin-left: 56px;
    margin-top: 3px; }
    .rate-add-form #content #val {
      height: 27px;
      width: 245px;
      font-family: Arial;
      font-size: 15px;
      border: solid 1px #8cd9db; }
    .rate-add-form #content #post {
      width: 165px;
      background-color: #47acd6;
      border: solid #8cd9db 1px;
      font-family: Arial;
      font-size: 15px;
      height: 27px;
      cursor: pointer; }

.rate-form #post {
  width: 155px; }

.love-form {
  height: 150px; }
  .love-form #val {
    resize: none;
    height: 90px !important;
    width: 410px !important;
    margin-top: 0px; }
  .love-form #post {
    width: auto !important;
    height: 90px;
    margin-top: 10px;
    float: right;
    margin-right: 5px; }
