.body_background {
  background-color: #f5f5f5; }

body {
  padding: 0px;
  margin: 0px;
  margin-top: 10px; }

#shadow {
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 90; }

#padding {
  height: 0;
  max-height: 300px; }

.message-bar {
  position: fixed;
  width: inherit;
  min-height: 30px;
  background-color: rgba(250, 250, 250, 0.95);
  border: solid #eeeeee 2px;
  border-top-style: none;
  border-radius: 0 0 10px 10px;
  margin-left: -2px;
  text-align: center;
  font-size: 20px;
  font-family: Arial;
  padding-top: 10px;
  z-index: 101;
  min-width: 320px;
  max-width: 500px; }

.mb-hide {
  top: -4500px;
  display: none; }

#body {
  margin: 0px auto;
  min-width: 320px;
  max-width: 500px;
  width: 100%;
  background-color: transparent; }

#page_content {
  width: auto;
  height: inherit;
  margin-top: 55px;
  background-color: white;
  margin-left: 8px;
  margin-right: 8px;
  position: relative;
  z-index: 1; }

textarea[readonly] {
  outline: none; }

input[readonly] {
  outline: none;
  border: none; }

#love-or-money-title-div {
  width: 325px;
  margin: 0 auto;
  text-align: center; }

#main-top {
  width: 100%; }

#site-theme {
  font-family: Arial;
  font-size: 14px;
  color: #804100;
  font-weight: bold;
  margin-bottom: 5px;
  display: block; }

#site-description {
  font-family: Arial;
  font-size: 14px;
  color: #804100; }

#gender-track {
  background-color: #81a2ff;
  position: relative;
  height: 27px; }
  #gender-track #slider {
    position: absolute;
    top: 1px; }

#authorisation_panel {
  position: absolute;
  border: 1px solid #d7f1fc;
  width: 425px;
  height: 172px;
  background: white;
  color: #0d7aa7;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  text-align: center;
  background-color: white;
  z-index: 100;
  margin-top: -100px; }
  #authorisation_panel #authorisation_panel_close {
    width: auto;
    height: auto;
    position: absolute;
    right: 15px;
    top: 5px;
    font-size: 13px;
    cursor: pointer; }
    #authorisation_panel #authorisation_panel_close #authorisation_panel_close_123 {
      font-family: cursive;
      font-size: 12px;
      font-weight: bold; }
  #authorisation_panel #auth_title {
    cursor: default;
    width: 100%;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 28px;
    font: 12px Arial;
    font-weight: bold; }
  #authorisation_panel .div_auth_button {
    float: left;
    font: 12px Arial;
    margin: 25px 0px 0px 0px;
    width: 85px;
    height: 85px; }

.auth_button {
  width: 54 px;
  height: 54 px;
  border: none;
  background: none;
  padding: 0px;
  background-repeat: no-repeat; }

.pic_auth {
  width: 54 px;
  height: 54 px; }

.b_name {
  color: #1a1a1a;
  font-size: 12px; }

#search_form_gender {
  width: 100%;
  height: 42px;
  background-color: #2fa1cf;
  color: white;
  background-image: url("/static/img/gender-filter-bg.png");
  background-repeat: repeat-x; }
  #search_form_gender > div {
    padding-top: 11px;
    display: table;
    margin: 0 auto; }
    #search_form_gender > div > button {
      margin-left: 5px;
      margin-right: 5px;
      cursor: pointer;
      border: none;
      background: none;
      color: white; }

.select_gender {
  font-weight: bold; }

#supported_project {
  font-size: 14px;
  background-image: url("/static/img/cr-bg.png"); }
  #supported_project #help-to-project {
    font-size: 12px; }
  #supported_project .share42init {
    width: 180px; }

#lots {
  min-height: 400px;
  background-image: url("/static/img/heart_bg.jpg");
  background-position: center;
  background-repeat: no-repeat; }

.general_lot {
  width: 150px;
  height: 100px;
  display: inline-block;
  position: relative;
  margin: 4px;
  border: 1px solid #888888;
  cursor: pointer; }
  .general_lot img {
    width: inherit;
    height: inherit; }
  .general_lot label {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: right;
    font-size: 12px;
    font-family: Arial;
    font-weight: bold;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: inherit;
    cursor: pointer; }
    .general_lot label span {
      margin-right: 2px; }

#http-error {
  text-align: center;
  font-size: 100px; }

#separator {
  height: 10px; }

#rules-block #hr_open {
  margin: 0;
  border: none;
  border-top: 1px solid #8ed4d6;
  display: none; }
#rules-block #hr_close {
  margin: 0;
  margin-top: 20px;
  border: none;
  display: none;
  border-top: 1px solid #8ed4d6; }
#rules-block #rules_title {
  height: auto;
  background-image: url("/static/img/cr-bg.png");
  text-align: center;
  color: #0d7aa7;
  background-color: #e7ebf2;
  padding: 4px 0;
  position: relative; }
  #rules-block #rules_title #rules_title_1 {
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    margin: 0 auto;
    display: block;
    margin-top: 10px; }
  #rules-block #rules_title #rules_title_2 {
    margin: 0 auto;
    margin-bottom: 12px;
    margin-top: 6px;
    font-size: 14px;
    width: 100%;
    display: block; }
#rules-block #rules {
  padding-left: 15px;
  padding-right: 5px;
  font-family: arial;
  color: gray;
  font-size: 12px;
  background-color: white; }
  #rules-block #rules label {
    font-weight: bold;
    color: black;
    display: inline-block;
    padding-bottom: 4px;
    padding-top: 6px; }
  #rules-block #rules #rules_tail {
    color: #999999;
    padding-top: 10px;
    margin-bottom: 10px; }
  #rules-block #rules #close_rules {
    display: inline-block;
    float: right;
    color: #0d7aa7;
    margin-right: 10px; }
  #rules-block #rules .interactive {
    color: #0d7aa7;
    font-size: 13px;
    text-decoration: none; }
  #rules-block #rules .instructions {
    padding-top: 4px;
    padding-bottom: 4px;
    margin-right: 10px;
    color: gray;
    display: none; }
    #rules-block #rules .instructions .hr {
      margin-top: 8px;
      margin-bottom: 3px;
      border: none;
      border-top: 1px solid #8ed4d6; }

#uLogin {
  margin-top: 30px; }

* {
  font-family: Arial; }

#copyright {
  position: relative;
  padding: 0 8px;
  height: 24px; }
  #copyright > div {
    width: 100%;
    height: 100%;
    padding-top: 12px;
    text-align: center;
    font-size: 12px;
    color: gray;
    background-image: url("/static/img/cr-bg.png");
    border-bottom: solid 5px #1796cb; }

#no-lots {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  color: gray;
  font-weight: bolder; }

#space {
  position: relative;
  padding: 0 8px; }
  #space > div {
    width: 100%;
    height: 100%;
    background-color: white; }

#bg {
  background-image: url("/static/img/bgl.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  position: fixed;
  z-index: 0; }

input[type=file] {
  cursor: pointer !important; }
