
.combo
	position: relative

	> div
		position: relative
		
		> input[type=text]
			width: 100%
			outline: none
			background-color: white
			border: none
			margin: 0px
			cursor: pointer
			border-radius: 4px
			padding-left: 5px
			padding-right: 5px

		> input[type=button]
			position: absolute
			top: 0px
			right: 5px
			width: 20px
			border: none
			background: none
			display: none
			cursor: pointer
			color: #51BAE6
			text-shadow: 0 0 5px #51BAE6

			&:hover
				display: block !important

	> ul
		width: 100%
		max-width: 466px
		padding: 0px
		margin: 0px
		position: absolute
		border: solid 1px #51BAE6
		border-radius: 0 0 4px 4px
		//margin-left: -1px
		//margin-top: -2px
		display: none
		top: 27px
		z-index: 110
		
		> li
			list-style-type: none
			cursor: pointer
			font-size: 14px

		.odd
			background-color: #efefef
		.even
			background-color: #def
		.select
			background-color: #51BAE6


.city-filter
	position: absolute
	width: 150px
	height: 18px
	top: -3px
	z-index: 10


	> input[type=text]
		width: 100%
		outline: none
		background-color: transparent
		border: none
		margin: 0px
		cursor: pointer
		padding-left: 5px
		padding-right: 5px
		color: white

	> input[type=button]
		position: absolute
		top: 0px
		right: 5px
		width: 20px
		height: 100%
		border: none
		background: none
		display: none
		cursor: pointer
		color: #51BAE6
		text-shadow: 0 0 5px #51BAE6

		&:hover
			display: block !important

	> ul
		width: 100%
		max-width: 498px
		padding: 0px
		margin: 0px
		position: absolute
		border: solid 1px #51BAE6
		border-radius: 0 0 4px 4px
		//margin-left: -1px
		margin-top: -10px
		display: none
		top: 27px
		z-index: 110

		> li
			list-style-type: none
			cursor: pointer
			color: black
			overflow: hidden

		.odd
			background-color: #efefef
		.even
			background-color: #def
		.select
			background-color: #51BAE6


#lot-place
	top: 32px !important
	left: 4px !important

	#city-filter
		width: 150px
		z-index: 100
		position: relative

		> div
			position: relative
			
			> input[type=text]
				width: 100%
				outline: none
				background-color: transparent
				border: none
				margin: 0px
				cursor: pointer
				padding-left: 5px
				padding-right: 5px
				color: white
				font-weight: bolder

			> input[type=button]
				position: absolute
				top: 0px
				right: 5px
				width: 20px
				border: none
				background: none
				display: none
				cursor: pointer
				color: #51BAE6
				text-shadow: 0 0 5px #51BAE6

				&:hover
					display: block !important

		#cities-list
			width: 100%
			z-index: 100
			overflow-x: hidden
			list-style: none
			padding-left: 0
			position: absolute
			top: 4px
			cursor: pointer

			li
				list-style-type: none
				cursor: pointer
				color: black
				overflow: hidden

		.odd
			background-color: #efefef
		.even
			background-color: #def
		.select
			background-color: #51BAE6