.combo {
  position: relative; }
  .combo > div {
    position: relative; }
    .combo > div > input[type=text] {
      width: 100%;
      outline: none;
      background-color: white;
      border: none;
      margin: 0px;
      cursor: pointer;
      border-radius: 4px;
      padding-left: 5px;
      padding-right: 5px; }
    .combo > div > input[type=button] {
      position: absolute;
      top: 0px;
      right: 5px;
      width: 20px;
      border: none;
      background: none;
      display: none;
      cursor: pointer;
      color: #51bae6;
      text-shadow: 0 0 5px #51bae6; }
      .combo > div > input[type=button]:hover {
        display: block !important; }
  .combo > ul {
    width: 100%;
    max-width: 466px;
    padding: 0px;
    margin: 0px;
    position: absolute;
    border: solid 1px #51bae6;
    border-radius: 0 0 4px 4px;
    display: none;
    top: 27px;
    z-index: 110; }
    .combo > ul > li {
      list-style-type: none;
      cursor: pointer;
      font-size: 14px; }
    .combo > ul .odd {
      background-color: #efefef; }
    .combo > ul .even {
      background-color: #ddeeff; }
    .combo > ul .select {
      background-color: #51bae6; }

.city-filter {
  position: absolute;
  width: 150px;
  height: 18px;
  top: -3px;
  z-index: 10; }
  .city-filter > input[type=text] {
    width: 100%;
    outline: none;
    background-color: transparent;
    border: none;
    margin: 0px;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
    color: white; }
  .city-filter > input[type=button] {
    position: absolute;
    top: 0px;
    right: 5px;
    width: 20px;
    height: 100%;
    border: none;
    background: none;
    display: none;
    cursor: pointer;
    color: #51bae6;
    text-shadow: 0 0 5px #51bae6; }
    .city-filter > input[type=button]:hover {
      display: block !important; }
  .city-filter > ul {
    width: 100%;
    max-width: 498px;
    padding: 0px;
    margin: 0px;
    position: absolute;
    border: solid 1px #51bae6;
    border-radius: 0 0 4px 4px;
    margin-top: -10px;
    display: none;
    top: 27px;
    z-index: 110; }
    .city-filter > ul > li {
      list-style-type: none;
      cursor: pointer;
      color: black;
      overflow: hidden; }
    .city-filter > ul .odd {
      background-color: #efefef; }
    .city-filter > ul .even {
      background-color: #ddeeff; }
    .city-filter > ul .select {
      background-color: #51bae6; }

#lot-place {
  top: 32px !important;
  left: 4px !important; }
  #lot-place #city-filter {
    width: 150px;
    z-index: 100;
    position: relative; }
    #lot-place #city-filter > div {
      position: relative; }
      #lot-place #city-filter > div > input[type=text] {
        width: 100%;
        outline: none;
        background-color: transparent;
        border: none;
        margin: 0px;
        cursor: pointer;
        padding-left: 5px;
        padding-right: 5px;
        color: white;
        font-weight: bolder; }
      #lot-place #city-filter > div > input[type=button] {
        position: absolute;
        top: 0px;
        right: 5px;
        width: 20px;
        border: none;
        background: none;
        display: none;
        cursor: pointer;
        color: #51bae6;
        text-shadow: 0 0 5px #51bae6; }
        #lot-place #city-filter > div > input[type=button]:hover {
          display: block !important; }
    #lot-place #city-filter #cities-list {
      width: 100%;
      z-index: 100;
      overflow-x: hidden;
      list-style: none;
      padding-left: 0;
      position: absolute;
      top: 4px;
      cursor: pointer; }
      #lot-place #city-filter #cities-list li {
        list-style-type: none;
        cursor: pointer;
        color: black;
        overflow: hidden; }
    #lot-place #city-filter .odd {
      background-color: #efefef; }
    #lot-place #city-filter .even {
      background-color: #ddeeff; }
    #lot-place #city-filter .select {
      background-color: #51bae6; }
