
<link rel="stylesheet" href="{{ STATIC_URL }}css/noscript.css" type="text/css">
<table border="0">
	<tbody>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td id="noscript_message">
				<div id="title">
					MindSkope works on browsers using advanced technologies,<br>
					please select one of the proposed
				</div>
				<div id="noscript_content">
					<div id="need_browsers">
						<img class="need_browsers" src="/static/img/chrome-icon.png"/>
						<img class="need_browsers" src="/static/img/ff-icon.png"/>
						<img class="need_browsers" src="/static/img/opera-icon.png"/>
						<img class="need_browsers" src="/static/img/safari-icon.png"/>
					</div>
				</div>
			</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>