{% load tags %}

{% jstmp "copyright" %}
<div id="copyright">
	©LoveOrMoney - 2012<span> </span>Все права защищены
</div>
{% endjstmp %}

{% jstmp "tl-confirm--info" %}
<div class="tl-confirm--info">
	На указанный Вами номер будет ввыслано сообщение с кодом подтверждения.
	<button id="get-code">
		Подтвердить
	</button>
</div>
{% endjstmp %}

{% jstmp "tl-confirm--change" %}
<div class="tl-confirm--change">
	Для изменения номера нажмите кнопку "Изменить".<br>
	На указанный Вами номер будет ввыслано сообщение с кодом подтверждения.
	<button id="get-change-code">
		Изменить
	</button>
</div>
{% endjstmp %}

{% jstmp "tl-confirm--confirmation" %}
<div class="tl-confirm--confirmation">
	<label id="title">Введите код подтверждения: </label>
	<input id="code" type="text" maxlength="4" value="" placeholder="Пример: 1234" /><br>
	<button id="try-code">
		Подтвердить
	</button>
	Если смс не пришло, запросите код снова:
	<button id="reget-code">
		Запросить код снова
	</button>
	<button id="get-change-code">
		Изменить номер
	</button>
</div>
{% endjstmp %}

{% jstmp "ulogin_widget" %}
	 <div id="<< obj.id >>" x-ulogin-params="display=<< obj.display >>;fields=;providers=<< obj.providers >>;hidden=;redirect_uri=<< obj.redirect_url >><% if (obj.callback) { %> << ';callback=' + obj.callback + ';' >> <% } %>"></div>
{% endjstmp %}