<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
		"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<title></title>
</head>
<body>
Привет всем! Меня зовут Паша.
	<form method="POST" action="/test/my_bills/">
	{% csrf_token %}
	<table>
	{% for bill in bills %}

		<tr>
			<td><input type="radio" name="txn" value="{{ bill.txn }}"></td>
			<td>{{ bill.txn }}</td>
			<td>{{ bill.amount }}</td>
			<td>{{ bill.comment }}</td>
			<td>{{ bill.timeleft }}</td>
		</tr>
	{%  endfor %}
	</table>
	<input type='submit' value='Оплатить'/>
	</form>
</body>
</html>