<script type="text/javascript">

	 var _gaq = _gaq || [];
	 _gaq.push(['_setAccount', 'UA-5127159-5']);
	 _gaq.push(['_trackPageview']);

	 (function() {
		  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	 })();

</script>
<meta name='yandex-verification' content='548b3300dba08c44' />
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
	 (function (d, w, c) {
		  (w[c] = w[c] || []).push(function() {
				try {
					 w.yaCounter13917706 = new Ya.Metrika({id:13917706, enableAll: true, webvisor:true});
				} catch(e) {}
		  });

		  var n = d.getElementsByTagName("script")[0],
					 s = d.createElement("script"),
					 f = function () { n.parentNode.insertBefore(s, n); };
		  s.type = "text/javascript";
		  s.async = true;
		  s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

		  if (w.opera == "[object Opera]") {
				d.addEventListener("DOMContentLoaded", f);
		  } else { f(); }
	 })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/13917706" style="position:absolute; left:-9999px;" alt="" /></div></noscript>