<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="description" content="Благотворительный аукцион свиданий.">
	<meta itemprop="image" content="/static/img/love.png">

	<link href="/static/img/favicon.ico" rel="icon" type="image/x-icon" />
	<link href="/static/img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<link href="{{ STATIC_URL }}img/love.png" rel="shortcut icon" />
	<title>Пойдешь на свидание со мной?</title>

	<link rel="stylesheet" href="{{ STATIC_URL }}css/fonts/fonts.css" type="text/css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/msg.css" type="text/css">

	{% if not INVITE %}
		<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/profile.css" type="text/css">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/rates.css" type="text/css">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/my_rates.css" type="text/css">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/my_bill.css" type="text/css">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/chat.css" type="text/css">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/panels.css" type="text/css">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/regulations.css" type="text/css">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/objects/combo.css" type="text/css">
	{% else %}
		<link rel="stylesheet" href="{{ STATIC_URL }}css/objects/combo.css" type="text/css">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/invite.css" type="text/css">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/invite-loging-btn.css" type="text/css">
	{% endif %}


		<script src="{{ STATIC_URL }}js/lib/jquery.js" type="text/javascript"></script>
		<script src="{{ STATIC_URL }}js/lib/jquery-ui.js" type="text/javascript"></script>
		<script src="{{ STATIC_URL }}js/lib/jquery_autoresize.js" type="text/javascript"></script>
		<script src="{{ STATIC_URL }}js/lib/jquery.ui.slider.js" type="text/javascript"></script>
		<script src="{{ STATIC_URL }}js/lib/jquery.autocomplete.js" type="text/javascript"></script>
		<script src="{{ STATIC_URL }}js/lib/underscore.js" type="text/javascript"></script>
		<script src="{{ STATIC_URL }}js/lib/backbone.js" type="text/javascript"></script>
		<script src="{{ STATIC_URL }}js/lib/swfobject.js" type="text/javascript"></script>
		<script src="{{ STATIC_URL }}js/lib/ajaxfileupload.js" type="text/javascript"></script>
		<script src="{{ STATIC_URL }}js/libextension.js" type="text/javascript"></script>
		<script src="{{ STATIC_URL }}js/script.js" type="text/javascript"></script>




	<script src="{{ STATIC_URL }}js/main.js" type="text/javascript"></script>
	<script src="{{ STATIC_URL }}js/pages.js" type="text/javascript"></script>
	<script src="{{ STATIC_URL }}js/globals/panels.js" type="text/javascript"></script>
	<script src="{{ STATIC_URL }}js/globals/sms-js-operations.js" type="text/javascript"></script>
	<script src="http://ulogin.ru/js/ulogin.js"></script>
		<!-- authorization -->
	{% if not INVITE %}
		 <script src="{{ STATIC_URL }}js/globals/ulogin_widget.js" type="text/javascript"></script>
		<script src="{{ STATIC_URL }}js/global.js" type="text/javascript"></script>
		<script src="{{ STATIC_URL }}js/authorise/user.js" type="text/javascript"></script>

		<script src="{{ STATIC_URL }}js/router.js" type="text/javascript"></script>
		<script src="{{ STATIC_URL }}js/main.js" type="text/javascript"></script>

		<script src="{{ STATIC_URL }}js/globals/chat.js" type="text/javascript"></script>
		<script src="{{ STATIC_URL }}js/globals/http_pages.js" type="text/javascript"></script>
		<script src="{{ STATIC_URL }}js/pages/main.js" type="text/javascript"></script>
		<script src="{{ STATIC_URL }}js/pages/lots.js" type="text/javascript"></script>
		<script src="{{ STATIC_URL }}js/pages/profile.js" type="text/javascript"></script>
		<script src="{{ STATIC_URL }}js/pages/my_bill.js" type="text/javascript"></script>
		<script src="{{ STATIC_URL }}js/pages/regulations.js" type="text/javascript"></script>
		<script src="{{ STATIC_URL }}js/pages/main.js" type="text/javascript"></script>

		<script src="{{ STATIC_URL }}js/globals/combo_box.js" type="text/javascript"></script>
		<script src="{{ STATIC_URL }}share42/share42.js" type="text/javascript"></script>
	{% else %}
		<script src="{{ STATIC_URL }}js/pages/my_bill.js" type="text/javascript"></script>
		<script src="{{ STATIC_URL }}js/global.js" type="text/javascript"></script>
		<script src="{{ STATIC_URL }}js/authorise/user.js" type="text/javascript"></script>

		<script src="{{ STATIC_URL }}js/libextension.js" type="text/javascript"></script>
		<script src="{{ STATIC_URL }}js/pages/lots.js" type="text/javascript"></script>
		<script src="{{ STATIC_URL }}js/globals/combo_box.js" type="text/javascript"></script>
		<script src="{{ STATIC_URL }}js/invite/get_invite.js" type="text/javascript">	</script>
		<script src="{{ STATIC_URL }}js/invite/complete.js" type="text/javascript">	</script>
		<script src="{{ STATIC_URL }}js/invite/index.js" type="text/javascript">	</script>
		<script src="{{ STATIC_URL }}js/invite/router.js" type="text/javascript">	</script>
		<script type="text/javascript" src="http://userapi.com/js/api/openapi.js?49"></script>
	{% endif %}

 	{% include "init_page.html" %}
</head>
<body class="body_background">
	<div id="csrf_token">
		{% csrf_token %}
	</div>
	<noscript>
		{% include "globals/bad_browser.html" %}
	</noscript>

	{% include "other_elements.html" %}
	{% include "globals/elements.html" %}
{% if not INVITE %}
	{% include "authorise/elements.html" %}
	{% include "main/pages.html" %}
	{% include "main/elements.html" %}
	{% include "main/lot_page.html" %}
	{% include "main/my_rates.html" %}
	{% include "main/my_bill.html" %}
	{% include "main/regulations.html" %}
	<div id="bg"></div>
	<div id="body">
		<div id="page_content"></div>
		<div id="space">
			<div></div>
		</div>
		<div id="copyright">
			<div>
				© Love or Money - 2012 г.<span> </span>Все права защищены
			</div>
		</div>
	</div>
	<div id="padding"></div>
	<!--Trololo-->
	<script type="text/javascript">
		var reformalOptions = {
			project_id: 59268,
			project_host: "loveormoney.reformal.ru",
			tab_orientation: "left",
			tab_indent: "50%",
			tab_bg_color: "#00a4f0",
			tab_border_color: "#f0f0f0",
			tab_image_url: "http://tab.reformal.ru/T9GC0LfRi9Cy0Ysg0Lgg0L%252FRgNC10LTQu9C%252B0LbQtdC90LjRjw==/FFFFFF/4bfb34d91c8d7fb481972ca3c84aec38/left/0/tab.png",
			tab_border_width: 1
		};

		(function() {
			var script = document.createElement('script');
			script.type = 'text/javascript'; script.async = true;
			script.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'media.reformal.ru/widgets/v3/reformal.js';
			document.getElementsByTagName('head')[0].appendChild(script);
		})();
	</script>
	<!--Hello there!-->
{% else %}
	{% include "authorise/elements.html" %}
	{% include "invite/index.html" %}
	{% include "invite/invite.html" %}
	 {% include "invite/complete.html" %}
	 <div id="body">
	 <div id="page_content"></div>
	 </div>
{% endif %}

{% include "analitics.html" %}

</body>
</html>
