<div id="widgets">
	 <div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1&appId=344762675576677";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

	 <div class="fb-like-box" data-href="http://www.facebook.com/loveormoneyme" data-width="300" data-height="300" data-show-faces="true" data-stream="false" data-header="false"></div>

	 <div id="vk_groups"></div>
	 <script type="text/javascript">
		 VK.Widgets.Group("vk_groups", {mode: 0, width: "300", height: "300"}, 38415255);
	 </script>
</div>