{% load tags %}

{% jstmp "authorisation_panel" %}
<div id="authorisation_panel" style="display: none">
	<div id='authorisation_panel_close'>Закрыть <span id='authorisation_panel_close_123'>X</span></div>
	<div id='auth_title'>
		Выберите сайт, на котором вы уже зарегистрированы<br>
		{% load ulogin_tags %}
		{% ulogin_widget %}
	</div>
</div>
{% endjstmp %}

{% jstmp "login_panel" %}
	<div id="user_panel">
		<div id="left-side"></div>
		<div id="center-side">
			<div></div>
		</div>
		<div id="right-side"></div>
		<div id="title" onclick="App.router.redirect('/');">Love or Money</div>
				<!--<button id="regulations">Правила</button>-->
		<div id='login_background'>

			<button id="login" >
                <div class="yellow_button_background">
                    <label>Войти</label>
                </div>
            </button>

		</div>
		<div class='text'>Авторизуйтесь и принимайте участие!
		</div>
		<div class='entering_font'>
            <div class='entering_white_font'>
        </div>
        </div>
    </div>
	<!--<div id="navi_panel">
		<button id="regulations">Правила</button>
		<button id="login">Войти</button>
	</div>-->
{% endjstmp %}

{% jstmp "main_top" %}
	<div id="main_top">
		<div id="love-or-money-title-div">
			<img id="love-or-money-title-image" alt="Love or Money титульное изображение" src="/static/img/main_top.png" />
			<p id="site-theme">Аукцион свиданий</p>
			<label id="site-description">
				Знакомьтесь, Приглашайте на свидание.
				Импровизируйте или делайте ставки!
			</label>
		</div>
	</div>
{% endjstmp %}

{% jstmp "HttpError" %}
<div id="http-error">
</div>
{% endjstmp %}